
@font-face{
    font-family: "Trajan";
    src: url(../fonts/UTMTrajanProBold.ttf);
    font-weight: bold;
    
}
body {
    font-size:16px;
    font-weight: 400;
    color: #0A1E34;
    background: #fff;
    font-family: 'Roboto', sans-serif;
    position: relative;
    
}
strong {
    font-weight: bold;
}
b {
    font-weight: bold;
}
a {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.header{width: 100%;border-bottom: 3px solid #73ABA6;}
.header .navbar-brand {max-width:80%}
.header .navbar-expand-md .navbar-nav .nav-link:hover{transition: .3s;color: #0A1E34;}
.header .nav-bottom{background: #73ABA6;color: #fff;padding: 0;}
.header .nav-bottom .nav-link{text-transform: uppercase;font-weight: bold;padding:.5rem 1rem;font-size: 14px;}
.mega-menu{background:url(../images/bg-menu.jpg) no-repeat center center;background-size: cover;position: none;width: 100%;color: #0A1E34;height: 0;}
.mega-menu .heading-menu{font-weight: bold;text-transform: uppercase;font-size: 12px;padding: 5px 10px;text-align: center;}
.mega-menu .sub-link{padding: 0 1rem;}
.mega-menu .sub-link .item{padding: 10px 20px 10px 0;transition: .3s;font-size: 12px;font-weight: 600;border-bottom: 1px solid #98E0DD;
position: relative;}
.mega-menu .sub-link .item::after{content: "\f138";font-weight: bold;right: 0;
    font-family: "Font Awesome 5 Pro";font-size: 12px;position: absolute;color: #8FD4D1;}
.mega-menu .sub-link .item:hover::after{right: -5px;transition: .3s;}
.header .nav-bottom .nav-link,.item-link.sub{position: relative;}
.header .nav-bottom .nav-item.sub .nav-link::after,.item-link.sub::after{content: "\f078";font-family: "Font Awesome 5 Pro";margin-left: .5rem;font-size: 10px;position: absolute;top: 14px;}
.item-link.sub::after{position: absolute;right: 8px;}
.header .nav-bottom .nav-item:hover .mega-menu {height: 100%;transition: .5s;}
.header .lang .vi,.header .lang .eng{width: 33px;height: 23px;background: url(../images/vietnam-flag-icon.png) no-repeat center;background-size: cover;display: inline-block;cursor: pointer;}
.header .lang {display: none;}
.header .lang .eng{background: url(../images/united-kingdom-flag-medium.png) no-repeat center;background-size: cover;display: inline-block;}
.header .nav-item .infor{font-size: 12px;line-height: 1.2;margin-top: 1.5rem;color: #0A1E34;}
.header .nav-item .infor label{color: #73ABA6;font-weight: bold;margin-bottom: 0;position: relative;padding-left: 18px;}
.header .nav-item .infor .time label::before{width: 12px;height: 12px;background: url(../images/clock\ 1.png) no-repeat center center;background-size: cover;position: absolute;left: 0;content: "";}
.header .nav-item .infor .add label::before{width: 9px;height: 12px;background: url(../images/add.png) no-repeat center center;background-size: cover;position: absolute;left: 2px;content: "";}
.header .nav-item .infor .hotline label::before{width: 11px;height: 12px;background: url(../images/hotline.png) no-repeat center center;background-size: cover;position: absolute;left: 1px;content: "";}
.header .form-search{max-width: 100%;position: relative;}
.header .form-search input{height: 30px;border: 1px solid #0A1E34;border-radius: 10px;font-size: 14px;padding-left: 25px;}
.header .form-search input::placeholder{text-transform: uppercase;color: #0A1E34;text-align: left;font-weight: bold;}
.header .form-search::before{content: "\f002";font-family: "Font Awesome 5 Pro";position: absolute;font-weight: bold;top: 3px;left: 8px;}
.header .form-search .btn-search{position: absolute;right: 0px;top: 0;background: #0A1E34;color: #fff;border-radius: 10px;height: 30px;font-size: 14px;padding: 5px 15px;border: 1px solid #0A1E34;font-weight: bold;}
.mega-menu.mega-menu-2{background: #73ABA6;}
.mega-menu.mega-menu-2 .item-link{padding: 10px 1.8rem;color: #fff;text-transform: uppercase;font-size: 14px;font-weight: bold;}

.carousel-indicators li{width: 13px;height: 13px;border-radius: 50%;}
 .carousel-control-next, .carousel-control-prev{font-size: 30px;color: #73ABA6;}
 .carousel-control-next:hover, .carousel-control-prev:hover{color: #0A1E34;}
.slide-home .carousel-indicators{z-index: 1;}
.banner-home .box-right{color: #fff;}
.box-right .res{background: #206F68;text-align: center;padding: 1.5rem;font-size: 16px;}
.box-right .contact{background: #397F79;text-align: center;padding: 1.5rem;font-size: 14px;}
.box-right .instruction{background: #458781;text-align: center;padding: 1.5rem;font-size: 14px;}
.box-right .link{font-weight: bold;text-transform: uppercase;width: 100%;text-align: center;}

.heading-ss-home{background: #0A1E34;color: #fff;text-align: center;padding: 20px 0;font-size: 14px;text-transform: uppercase;}
.heading-ss-home h2{font-family: "Trajan";font-size: 20px;font-weight: bold;}

.strong-point{background: #fff;padding: 3rem 0;}
.strong-point .heading{font-family: "Trajan";color: #0A1E34;font-size: 20px;font-weight: bold;margin-bottom: 2.5rem;text-transform: uppercase;
text-align: center;}
.strong-point .item{text-align: center;padding: 0 1rem;margin-bottom: 2rem;color: #0A1E34;font-size: 18px;}
.strong-point .item .title{text-transform: uppercase;font-size: 20px;margin-bottom: 1rem;}
.strong-point .item .icon{margin-bottom: 1.5rem;}
.strong-point .item .number{font-weight: bold;font-size: 36px;line-height: 1.2;}

.why-us .item{text-align: justify;color: #0A1E34;font-size: 16px;margin-bottom: 2rem;padding: 0 2rem;}
.why-us .item .title{font-weight: bold;margin-bottom: .5rem;line-height: 1.3;min-height: 45px;display: flex;justify-content: center;}
.why-us .item .title span{align-self: center;}
.why-us .item .icon{min-height: 75px;margin-bottom: 1.5rem;display: flex;justify-content: center;}
.why-us .item .icon img{align-self: flex-end;}

.tech .heading{text-align: center;color: #0A1E34;font-weight: bold;font-size: 22px;margin-bottom: 1.5rem;}
.tech .item .text{text-align: center;background: #73ABA6;color: #fff;text-transform: uppercase;font-weight: 500;padding: 8px 15px;}

.res{background: url(../images/bg-dki.jpg) no-repeat center;background-size: cover;padding: 3rem 0;color: #fff;}
.res .heading{font-size: 24px;font-weight: bold;text-transform: uppercase;line-height: 1.3;margin-bottom: 1rem;}
.res input.form-control{border-radius: 10px;height: 35px;font-size: 14px;}
.res .btn{text-transform: uppercase;color: #0A1E34;font-weight: 500;background: #fff;border-radius: 10px;height: 35px;}

.item-news-large {margin-bottom: 2rem;color: #000;font-size: 18px;}
.item-news-large .title,.item-news .title{font-size: 24px;font-weight: bold;}
.item-news-large .image,.item-news .image{margin-bottom: 1.3rem;}
.item-news-large .time,.item-news .time,.time-vd{font-size: 12px;font-family: "Trajan";color: #5E5E5E;display: list-item;
    list-style-position: inside;}
.item-news-large .des ,.item-news .des{margin-bottom: .3rem;line-height: 1.3;}
.btn.view-more-news{text-transform: uppercase;color: #fff;background: #73ABA6;padding-left: 3rem;padding-right: 3rem;border-radius: 0;}

.item-news{margin-bottom: 1rem;}
.item-news .title{font-size: 22px;}

.reviews{background: #fff;padding: 3rem 0;color: #0A1E34;line-height: 1.3;}
.reviews .heading{font-family: "Trajan";color: #0A1E34;font-size: 20px;font-weight: bold;margin-bottom: 2.5rem;text-transform: uppercase;
    text-align: center;}
    .slide-review .carousel-control-next{width: 30px;right: -10px;}
    .slide-review .carousel-control-prev{left: -10px;width: 30px;}
.slide-review .carousel-control-next:hover,.slide-review .carousel-control-prev:hover{color: #0A1E34;transition: .3s;}
.reviews  .stars{font-size: 22px;}
.reviews .name{font-size: 24px;}
.reviews .type{font-size: 18px;margin-bottom: .5rem;}
.reviews .intro{font-size: 14px;font-weight: 300;color: #000;margin-bottom: .5rem;}
.reviews .item-customer{text-align: center;}
.reviews .image{margin-bottom: 1rem;}


.footer{padding-top: 3rem ;background: url(../images/bg-footer.jpg) no-repeat center center;background-size: cover;color: #C2C2C2;font-size: 14px;}
.footer .title-menu{font-size: 16px;font-weight: 400;margin-bottom: .75rem;color: #fff;}
.footer .footer-menu{margin-bottom: 2rem;}
.footer .footer-menu li{margin-bottom: .5rem;}
.footer .copyright{color: #1c338a;background: #fff;font-size: 14px;}
.footer .social .icon{width: 29px;height: 29px;display: inline-block;margin-right: 1rem;}
.footer .social .icon.icon-fb{background: url(../images/social-ic-01.png) no-repeat center center;background-size: cover;}
.footer .social .icon.icon-zalo{width: 30px;height: 29px;background: url(../images/social-ic-02.png) no-repeat center center;background-size: cover;}
.footer .social .icon.icon-yt{width: 33px;height: 27px;background: url(../images/social-ic-03.png) no-repeat center center;background-size: cover;}
.footer .copyright{background: #73ABA6;color: #fff;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-size: 13px;position: relative;}
.footer .copyright .social .icon{width: 18px;height: 18px;}
.footer .copyright .btn-scroll{position: absolute;bottom: 35px;right: 25px;font-size: 20px;color: #fff;}

.social-fixed{position: fixed;top: 30%;right: 0;}
.social-fixed a{padding: 6px;background: #0A1E34;display: block;margin-bottom: 1rem;text-align: center;color: #fff;width: 45px;height: 45px;font-size: 22px;z-index: 100;}
.view-more{font-weight: bold;font-size: 12px;color: #367572;padding: 5px 1rem 10px;}
.social-fixed-2{position: fixed;bottom: 40px;left: 30px;}
.social-fixed-2 a{padding:6px 20px;font-size: 14px;color: #fff;border-top-left-radius: 0px;border-bottom-left-radius: 0px;background: #C0241D;
display: block;width: auto;margin-bottom: 1rem;z-index: 100;}


.menu-left{margin-bottom: 2rem;}
.menu-left .item{border-bottom: 1px solid #A1B7B5;padding: 4px 0;font-size: 18px;font-weight: 500;color: #0A1E34;position: relative;transition: .3s;}
.menu-left .item:hover{padding-left: 15px;transition: .5s;}
.qc-left{display: none;}

.breadcrumb-hoanglong{background: #EFEFEF;padding: 8px 1rem;}
.breadcrumb-hoanglong .breadcrumb-item.active{color: #000;font-weight: 500;}
.breadcrumb-hoanglong-2{background: none;padding: 8px 0rem;font-weight: bold;color: #0A1E34;}
.breadcrumb-hoanglong-2 .breadcrumb-item.active{color: #73ABA6;}
.breadcrumb-hoanglong-2 .breadcrumb-item+.breadcrumb-item::before{content:"\f054";font-family: "Font Awesome 5 Pro";font-weight: bold;color: #0A1E34;font-size: 14px;}

.list-ck{font-size: 15px;font-weight: lighter;margin-bottom: 2rem;}
.list-ck .item-large,.list-ck .item{color: #0A1E34;padding: 1.5rem 0;border-bottom: 1px solid #A1B7B5;}
.list-ck .item-large .title,.list-ck .item .title{font-weight: bold;font-size: 20px;}
.list-ck .item:last-child{border: 0;}
.pani .page-number{color: #0A1E34;font-weight: 500;font-size: 15px;}
.pani .btn{border-radius: 0;border:1px solid #000;font-size: 15px;color: #73ABA6;font-weight: 500;padding: 6px 1.5rem;}

.news-detail {color: #0A1E34;}
.news-detail .title,.menu-right .title{text-transform: none;font-size: 24px;font-weight: bold;}
.news-detail .time{font-size: 12px;font-family: "Trajan";color: #5E5E5E;display: list-item;
list-style-position: inside;}
.news-detail .btn-red{background: #C0241D;color: #fff;font-size: 15px;padding: 3px 8px;border-radius: 0;}
.color-545454{color: #545454!important;}
.news-detail p{font-weight: 300;color: #0A1E34;font-size: 15px;margin:0;}
.news-detail h1{margin:0;}
.news-detail h2{margin:0;}
.news-detail .news-more-bt li{list-style-type: disc;list-style-position: inside;font-size: 15px;}
    .news-detail .news-more-bt li a {
        color: #206F68;
    }
.news-detail .share{background: #EFEFEF;padding: .6rem 1.5rem;font-size: 13px;}
.news-detail .btn-fb{background: #3B5998;color: #fff;border-radius: 0;font-size: 10px;padding: 3px 6px;}
.news-detail .btn-small{background: #fff;color: #000;border-radius: 0;font-size: 12px;padding: 1px 3px;border:1px solid #B1B1B1;border-radius: 5px;}
.list-tags{margin-bottom: 2rem;}
.list-tags label{font-size: 14px;color: #252525;}
.list-tags .item{color: #494949;margin-right: .5rem;background: #ECECEC;border-radius: 15px;display: inline-block;padding: 2px 8px;font-size: 13px;}

.menu-right{border: 1px solid #C2C2C2;border-radius: 10px;padding: 25px 15px;color: #0A1E34;font-size: 14px;}
.menu-right .heading{font-size: 15px;font-weight: bold;position: relative;padding-left: 10px;margin-bottom: 1rem;}
.menu-right .heading::before{position: absolute;height: 100%;width: 3px;background: #73ABA6;content: "";left: 0;}
.menu-right .item-link .title,.menu-right .item-link .des{font-size: 14px;}
.menu-right .item-link .des{font-weight: lighter;}
.menu-right .item-link{padding: 1rem 0;border-top: 1px solid #A9A9A9;}
.menu-right .item-link:last-child{padding-bottom: 0;}

.bg-lien-he{background: url(../images/bg-lien-he.jpg) no-repeat center;background-size: cover;padding: 4rem 0;}
.lh-box-infor{background: rgba(10, 30, 52, 0.8);color: #fff;padding: 20px;font-size: 16px;word-wrap: break-word;}
.lh-box-infor .title{font-size: 20px;}

input.form-lh,textarea.form-lh,.btn.form-lh{background:rgba(10, 30, 52, 0.6) ;border-radius: 0;border: 1px solid #fff;}
input.form-lh{height: 49px;}
.form-lh::placeholder{color: #fff;}
.btn.form-lh{color: #fff;padding: .5rem 2.5rem;text-transform: uppercase;font-size: 18px;font-weight: bold;}
.heading-lh{font-weight: bold;font-size: 24px;color: #32445B;padding: .75rem;text-transform: uppercase;text-align: center;}

.bg-dat-lich{background: url(../images/bg-menu.jpg) no-repeat center;background-size: cover;padding: 3rem 0;font-size: 16px;}
.form-dat-lich label.require::after{content: "*";color: red;margin-left: 3px;}
.form-dat-lich .form-control{background: #FFFFFF;border: 1px solid #73ABA6;border-radius: 0;}
.btn-dat-lich{font-size: 20px;font-weight: bold;text-transform: uppercase;background: #73ABA6;border-radius: 10px;padding: 6px 2.5rem;color: #fff;}
.bg-dat-lich .font-24{font-size: 18px;}
.bg-dat-lich .list-infor li{margin-bottom: .5rem;}

.list-intro{margin-bottom: 2rem;border-top: 1px solid #73ABA6;padding-top: 1rem;}
.list-intro .heading{font-size: 20px ;font-weight: bold;color: #0A1E34;margin-bottom: 1.5rem;}
.item-intro .image ,.item-intro img{border-radius: 10px;overflow: hidden;}
.item-intro .title{font-size: 16px;color: #000;}
.item-intro{font-size: 14px;margin-bottom: 1.5rem;}
.item-intro .des{color: #5F5F5F;margin-bottom: .5rem;}
.color-1C95D2{color: #1C95D2;}
.heading-right{position: relative;padding-left: 1.5rem;font-size: 18px;color: #0A1E34;font-weight: bold;margin-bottom: 1rem;}
.heading-right::before{position: absolute;width: 11px;height: 11px;background: #73ABA6;content: "";left: 0;top: 6px;}
.heading-right::after{position: absolute;width: calc(100% - 100px);height: 2px;background: #73ABA6;content: "";right: 0;top: 12px;}
.heading-right-2::before{background: #000;}
.heading-right-2::after{height: 1px;top: auto;bottom: -3px;width: 100%;background: #dee2e6;}
.color-0A1E34{color: #0A1E34;}

.item-doctor{margin-bottom: 2rem;color: #20537F;box-shadow: 0 0 20px lightgrey;font-size: 14px;}
.color-000{color: #000!important;}
.banner-bs{background: url(../images/bg-bs.jpg) no-repeat center center ;background-size: cover;padding: 3.5rem 1rem;color: #fff;}
.banner-bs .btn{color: #cccccc;background: #fff;border-radius: 0;font-weight: bold;font-size: 18px;padding: .5rem 1rem;}

.image-item{margin-bottom: 2rem;}
.image-item img{width: 100%;height: auto;}

.pagination-hl .page-item:first-child .page-link,.pagination-hl .page-item:last-child .page-link{border-radius: 0;}
.pagination-hl .page-item .page-link{background: #73ABA6;font-weight: bolder;color: #fff;margin-right: 1rem;}
.pagination-hl .page-item.active .page-link{background: #367572;}
.pagination-hl .page-item:last-child .page-link{margin-right: 0;}

.slide h1{font-family: "Trajan";font-size: 24px;font-weight: bold;margin-bottom: 1.5rem;text-shadow: 0 3px 5px #3c3c3c;}
.slide-td .carousel-caption{top: 35%;font-size: 18px;font-weight: 300;}

.border-radius-10,.border-radius-10 img{border-radius: 10px;overflow: hidden;}

.accordion-faq .card-header{background: #73ABA6;border-radius: 0;position: relative;padding: 15px 2rem;}
.accordion-faq .card-header::after{content: "\f0d7";font-family: "Font Awesome 5 Free";font-weight: bold;position: absolute;right: 2rem;top: 1rem;color: #fff;font-size: 22px;}
.accordion-faq .card-header .btn-link{font-size: 18px;color: #fff;padding: 0;}

.bd-1 {
    background: #73ABA6;
    height: 3px;
    width: 100%;
    position: relative;
}
.bd-2 {
    background: #0A1E34;
    height: 3px;
    width: 45%;
    position: absolute;
    left: 0;
}

.item-doc{background: rgba(115, 171, 166, 0.5);padding: 15px;font-size: 14px;margin-bottom: 1.5rem;}

.menu-left-2{padding: 0 20px;background: #0A1E34}
.menu-left-2 .item{color: #fff;border-bottom: 1px solid #000;background: #0A1E34;padding: 10px 0;}
.menu-left-2 .item::after{content: ">";float: right;color: #fff;}
.menu-left-2 .heading{background: #73ABA6;padding: 10px 20px;color: #fff;margin: 0 -20px;font-weight: bold;text-transform: uppercase;}

.bg-doi-ngu{background: url(../images/change/banner-dn.jpg) no-repeat center;background-size: cover;}

.slide-video .carousel-indicators{position: initial;margin: 0;right: auto;left: auto;bottom: auto;}
.slide-video .carousel-indicators li{width: calc(100% / 3);height: auto;margin-right:1rem ;}
.slide-video .carousel-indicators li:last-child{margin-right: 0;}
.slide-video .carousel-control-next,.slide-video .carousel-control-prev{opacity: 1;align-items: flex-end;bottom: 60px;width: 12%;}

.menu-left{display: none;}

.sub-menu.mega-menu-2,.mega-menu-2{height: 0;overflow: hidden;}
.item-link:hover .sub-menu.mega-menu-2{transition: .5s;height: auto;}
.item-link:hover::after{transform: rotate(-180deg);transition: .5s;-ms-transform: rotate(-180deg);-webkit-transform: rotate(-180deg);}

.h-breadcrumb .breadcrumb{background: #fff;}
.h-breadcrumb .breadcrumb-item{color: #73ABA6;text-transform: uppercase;}
.h-breadcrumb .breadcrumb-item.active{color: #333;}

.card-aphabe .card-header{background-color: #73ABA6;color: #fff;}
.mobile-search-aphabe .btn{border:1px solid #73ABA6;border-radius: 0;text-transform: uppercase;color: #73ABA6;text-decoration: underline;font-size: 20px;width: 40px;padding: 7px 5px;margin: 5px 8px;}
.list-ques{color: #0A1E34;font-size:16px ;}
    .list-ques li {
        color: #73ABA6;
        margin-bottom: 1rem;
    }
.list-ques li:hover{color: #73ABA6;transition: .3s;}
.form-search-faq{position: relative;}
.form-search-faq i.fa-search {
    position: absolute;
    left: 15px;
    top: 13px;
    color: #000;
}
.form-search-faq input.form-control{border-radius: 0; border-color: #73ABA6;height: 45px;}

.item-list-faqs{margin-bottom: 1.5rem;}
.item-list-faqs .topic{color: #367572;font-weight: bold;margin-bottom: .5rem;}
.item-list-faqs .list li{color: #5C7189;margin-bottom: .5rem;}
.item-list-faqs .btn-view-more{border: 1px solid #dedede;border-radius: 0;color: #0A1E34;text-transform: uppercase;margin: .5rem 0;}
@media(min-width:320px){
    
}

@media(min-width:375px){
    
}

@media(min-width:576px){
    .qc-left{display: block;margin-bottom: 1rem;}
    .menu-left{display: block;}
}

@media(min-width:768px){
    .header .navbar-brand {max-width: 100%;}
    .header .nav-bottom .nav-link{padding: 1rem;}
    .mega-menu{position: absolute;left: 0;box-shadow: 0 10px 15px 0 rgba(50,50,50,0.15);transform: translateY(100px);-ms-transform: translateY(100px);-webkit-transform: translateY(100px);opacity: 0;visibility: hidden;z-index: 100;}
    .mega-menu .heading-menu{margin-top: .5rem;}
    .header .nav-bottom .nav-item.sub.sub-2 .mega-menu{opacity: 0; visibility: hidden;height: 0;}
  .header .nav-bottom .nav-item.sub.show .mega-menu {height: auto;transform: translateY(0px);-ms-transform: translateY(0px);-webkit-transform: translateY(0px);z-index: 10;opacity: 1;visibility: visible;}
    .header .nav-bottom .nav-item:hover .nav-link{background: #73ABA6;transition: .3s;}
    
    .mega-menu.mega-menu-2{background: #73ABA6;border-top: 1px solid #fff;min-width: 290px;width: auto;left: auto;margin-top: -8px;}
    .header .nav-bottom .nav-item.sub:hover .mega-menu.mega-menu-2 {left: 0px;}
    .header .nav-bottom .nav-item.sub-2{position: relative;}
    .mega-menu.mega-menu-2 .item-link{padding: 12px;text-align: center;color: #fff;text-transform: uppercase;font-size: 12px;font-weight: bold;
    border-bottom: 1px solid #054F48;position: relative;}
    
    .mega-menu.mega-menu-2 .item-link:last-child{border: 0;}
    .header .form-search{max-width: 140px;}
    .header .form-search input::placeholder{text-align: left;}
    .header .nav-bottom .nav-item.sub .nav-link::after{top: 1.2rem;}
    .header .nav-item .infor{margin-top: 0;}
    .header .lang{display: block;}
    .header .nav-top{display: none;}
    .header .nav-item .infor{font-size: 14px;}
    .header .form-search .btn-search{display: none;}
    .header .form-search input::placeholder{text-align: center;}
    .header .nav-bottom .nav-link{font-size: 16px;}
    .box-right .res{background: #206F68;height: 50%;position: relative;font-size: 24px;}
    .box-right .contact{background: #397F79;height: 50%;position: relative;font-size: 18px;}
    .box-right .instruction{background: #458781;height: 50%;position: relative;font-size: 18px;}
    .box-right .link{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);font-weight: bold;text-transform: uppercase;width: 100%;text-align: center;}
    .strong-point .item,.strong-point .item .title{font-size: 16px;}
    .strong-point .heading{font-size: 24px;}

    .heading-ss-home h2{font-size: 22px;}
    
    .mega-menu .heading-menu{padding: 10px 1.5rem;border-bottom:3px solid #0A1E34 ;}
    .bg-18847A{background: #18847A60;}
    .view-more{border-left:1px solid #98E0DD;}
    .mega-menu .sub-link{border-left:1px solid #98E0DD;}
    .bg-18847A .view-more,.mega-menu .bg-18847A .sub-link{border-left:1px solid #367572;}
    .mega-menu .bg-18847A  .sub-link .item{border-color: #367572 ;}
    .mega-menu .sub-link .item:last-child{border: 0;}
    .mega-menu .bg-18847A  .sub-link .item::after{display: none;}
    .why-us .item{font-size: 18px;padding: 0rem;}
    .reviews .carousel-item .item-customer:first-child{position: relative;}
    .reviews .carousel-item .item-customer:first-child::before{position: absolute;content: "";width: 4px;height: 140px;background: #73ABA6;
    right: -1.5rem;top: 50px;}
    .reviews .item-customer{text-align: left;}
    .reviews .image{margin-bottom: 0rem;}
    .slide-review .carousel-control-next{width: 30px;right: -30px;}
    .slide-review .carousel-control-prev{left: -30px;width: 30px;}
    .reviews  .stars{font-size: 32px;}
    .lh-box-infor{padding: 30px 50px 50px;position: relative;}
    .lh-box-infor .title{font-size: 32px;margin-bottom: 1rem;}
    .lh-box-infor::before{content: "";position: absolute;width: 60px;height: 60px;background: #73aba6d9;left: -20px;top: -40px;}
    .bg-dat-lich{font-size: 18px;}
    .bg-dat-lich input.form-control{height: 47px;}
    .bg-dat-lich label{align-self: center;}
    .bg-dat-lich .font-24{font-size: 24px;line-height: 1.4;}
    .bg-dat-lich .list-infor li{margin-bottom: .5rem;}

    .item-doc{padding: 15px 30px;}


    .sub-menu.mega-menu-2,.mega-menu-2{height: 0;overflow: initial}
    .mega-menu.mega-menu-2 .item-link .sub-menu.mega-menu-2{position: absolute;left: 0%;width: 100%;opacity: 0;visibility: hidden;transition: .3s;background: #206F68;top:0;}
    .mega-menu.mega-menu-2 .item-link:hover .sub-menu.mega-menu-2{left:100%;transition: .5s;opacity: 1; visibility: visible;top: 0;}
    
    .item-list-faqs{margin-bottom: 2.5rem;}
}

@media(min-width:992px){
    
}

@media(min-width:1200px){
    .header .nav-bottom .nav-item.sub:hover .mega-menu {height: auto;transform: translateY(0px);-ms-transform: translateY(0px);-webkit-transform: translateY(0px);z-index: 10;opacity: 1;visibility: visible;}
}

@media(min-width:1366px){
    
}

@media(min-width:1440px){
    
}


/*5-01-2020*/
.accordion-faq .card-header::after{
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content:"";top: 1.8rem;
    border-top: 10px solid #fff;}
    
    .accordion-faq .card-header p{margin-bottom: 0;}
    .bg-dat-lich .btn-dat-lich{margin-bottom: 1rem;}
.item-customer{margin-bottom: 1.5rem;}

/* width */
::-webkit-scrollbar {
    width: 0px;
  }
  .carousel-caption{z-index: 2;}
  
@media(min-width:576px){
    .slide-review .carousel-control-prev{left: -40px;}
    .slide-review .carousel-control-next{right: -40px;}
}

@media (min-width: 768px){
    .reviews .stars {
      font-size: 16px;margin-bottom: 0rem;}
      .slide-review .carousel-control-prev{left: -10px;}
      .slide-review .carousel-control-next{right: -10px;}
      .reviews .carousel-item .item-customer:first-child::before{display: none;}
      .header .nav-bottom .nav-link {
       white-space: nowrap;padding: 1rem 1.2rem;}
    .box-right .res{font-size: 20px;}

    
    .header.fixed .nav-bottom{position: fixed;top: 0;width: 100%;z-index: 100;    transform: translateX(-50%); -ms-transform: translateX(-50%);left: 50%;

    }
    .item-link:hover::after{transform: rotate(-90deg);transition: .5s;-ms-transform: rotate(-90deg);-webkit-transform: rotate(-90deg);}
  }

  @media (min-width: 768px) and (max-width: 1200px){
    .nav-bottom >.container{overflow-x: scroll;}
    .header .nav-bottom .nav-link {font-size: 14px;padding-bottom: 0;
     }

     .header .nav-bottom .nav-item.sub.sub-2 .mega-menu{position: fixed;left: 0;max-width: 100%;width: 100%;}
     .header .nav-bottom .nav-item.sub:hover .mega-menu.mega-menu-2{left: 0;}
     .header .nav-item .infor{font-size: 12px;}
     .why-us .item{font-size: 16px;}
     .box-right .res{font-size: 18px;}
     .box-right .contact,.box-right .instruction{font-size: 14px;}
     .header .form-search{max-width: 180px;}

     .box-right .instruction img,.box-right .contact img,.box-right .res img{width: 30px!important;}
     .mega-menu.mega-menu-2{margin-top: 10px;}

     .mega-menu.mega-menu-2 .item-link .sub-menu.mega-menu-2{position: initial;left: 0%;width: 100%;opacity: 0;visibility: hidden;transition: .3s;background: #206F68;top:0;}
     .mega-menu.mega-menu-2 .item-link:hover .sub-menu.mega-menu-2{position: initial;left:0%;transition: .5s;opacity: 1; visibility: visible;top: auto;margin-top: .5rem;background: #206F68;border-top: 2px solid #fff;}
     .item-link:hover::after{transform: rotate(-180deg);transition: .5s;-ms-transform: rotate(-180deg);-webkit-transform: rotate(-180deg);}
  }

  @media (min-width: 1366px){
    .reviews .stars {
      font-size: 28px;margin-bottom: 1rem;
  }
  .reviews .carousel-item .item-customer:first-child::before{display: block;}
  .container{max-width: 1245px;}

  }

  @media(max-width: 768px){
    .bg-dat-lich .font-sm-16{font-size: 15px;}
    .bg-dat-lich .btn-dat-lich{font-size: 16px;padding: 6px 1.5rem;}
    .box-right .instruction {
        font-size:10px;
    }
    }


a:hover {
    color: #1C95D2
}