﻿<%@ Page Title="" Language="C#" MasterPageFile="~/CMS/Master/ICMS.Master" AutoEventWireup="true" CodeBehind="Slider_LandingPage.aspx.cs" Inherits="Mi_Company.CMS.Pages.Slider_LandingPage" %>
<%@ Import Namespace="Mi.BO.Base.News" %>
<%@ Import Namespace="Mi_Company.Core.Helper" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeaderCph" runat="server">
    <link href="/CMS/Themes/js/comfirm/jquery-confirm.min.css" rel="stylesheet" />
    <link href="/CMS/Themes/js/fselect/styles.css" rel="stylesheet" />
    <style>
        body { }
        #adv-wrapper { }
        #adv-wrapper tr td { }
        #adv-wrapper tr td i { cursor: pointer; }
        #adv-wrapper tr td img { cursor: pointer; }
        #data-pager { padding-top: 3px; height: 38px; }
        .iweb.ipagination { display: inline-block; border: 1px solid #CDCDCD; }
        .ipagination.iweb { }
        .ipagination.iweb > li { display: inline; list-style-type: none; }
        .iweb.ipagination a { display: block; float: left; width: 20px; height: 20px; outline: none; border-right: 1px solid #CDCDCD; border-left: 1px solid #CDCDCD; color: #555555; vertical-align: middle; text-align: center; text-decoration: none; font-weight: bold; font-size: 16px; font-family: Times, 'Times New Roman', Georgia, Palatino; /* ATTN: need a better font stack */ background-color: #f3f3f3; }
        .iweb.ipagination a:hover, .ipagination a:focus, .pagination a:active { background-color: #cecece; }
        .ipagination a.disabled, .ipagination a.disabled:hover, .ipagination a.disabled:focus, .ipagination a.disabled:active { background-color: #f3f3f3; color: #A8A8A8; cursor: default; }
        .iweb.ipagination a:first-child { border: none; border-radius: 2px 0 0 2px; }
        .iweb.ipagination a:last-child { border: none; border-radius: 0 2px 2px 0; }
        .iweb.ipagination input { float: left; margin: 0; padding: 0; width: 120px; height: 20px; outline: none; border: none; vertical-align: middle; text-align: center; }
        /* gigantic class for demo purposes */
        .iweb.gigantic.pagination { }
        .iweb.ipagination a { height: 30px; width: 35px; line-height: 28px; }
        .iweb.ipagination input { height: 30px; }
        #data-pager > span { vertical-align: top; display: inline-block; line-height: 36px; padding: 0 16px; }
        #news-edit-content .header { background: #FFF; border-bottom: 1px solid #CDCDCD; padding: 2px 0; }
        #news-edit-content ._body { padding-top: 30px; }
        #news-preview [data-dismiss=modal] { color: #f5f5f5; }
        .slimScrollDiv { overflow: initial !important; }
        .page-content input { border: 1px solid #ddd }
        /*#adv-wrapper {
          
            height: 800px !important;
            overflow: auto !important;
          
        }
        .datatable-scroll-sm table { margin-bottom: 30px}*/
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainCph" runat="server">
    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">
            <%var type = Page.RouteData.Values["type"] != null ? Page.RouteData.Values["type"].ToInt32Return0() : 1; %>
            <%var landing = Page.RouteData.Values["landing"]; %>
            <!-- Main sidebar -->
            <div class="sidebar sidebar-main" id="config-sidebar">
                <!-- Main navigation -->
                <div class="sidebar-category sidebar-category-visible">
                    <div class="category-content no-padding">
                        <ul class="navigation navigation-main navigation-accordion">
                            <!-- Main -->
                            <%if (landing.Equals("crm"))
                                { %>
                                <li class="navigation-header"><span>Slides</span> <i class="icon-menu" title="Main pages"></i></li>
                            <%--<li data-type="1" class="<%=type==1?"active":"" %>"><a href="/cpanel/sliders-1.htm"><i class="icon-file-presentation"></i>Slider header</a></li>--%>
                            <li data-type="20" class="<%=type == 20 ? "active" : "" %>"><a href="/cpanel/laningPage-<%=landing %>-20.htm"><i class="icon-file-presentation"></i>Logo</a></li>
                            <li data-type="21" class="<%=type == 21 ? "active" : "" %>"><a href="/cpanel/laningPage-<%=landing %>-21.htm"><i class="icon-file-presentation"></i>Banner</a></li>
                            <li data-type="22" class="<%=type == 22 ? "active" : "" %>"><a href="/cpanel/laningPage-<%=landing %>-22.htm"><i class="icon-file-presentation"></i>Khối content 1</a></li>
                            <li data-type="23" class="<%=type == 23 ? "active" : "" %>"><a href="/cpanel/laningPage-<%=landing %>-23.htm"><i class="icon-file-presentation"></i>Khối logo</a></li>
                            <li data-type="24" class="<%=type == 24 ? "active" : "" %>"><a href="/cpanel/laningPage-<%=landing %>-24.htm"><i class="icon-file-presentation"></i>Khối content 2</a></li>
                            <li data-type="25" class="<%=type == 25 ? "active" : "" %>"><a href="/cpanel/laningPage-<%=landing %>-25.htm"><i class="icon-file-presentation"></i>Khối content 3</a></li>
                            <%} %>
                            <%if (landing.Equals("tourkit"))
                                { %> 
                                    <li class="navigation-header"><span>Slides</span> <i class="icon-menu" title="Main pages"></i></li>
                            <%--<li data-type="1" class="<%=type==1?"active":"" %>"><a href="/cpanel/sliders-1.htm"><i class="icon-file-presentation"></i>Slider header</a></li>--%>
                            <li data-type="50" class="<%=type == 50 ? "active" : "" %>"><a href="/cpanel/laningPage-<%=landing %>-50.htm"><i class="icon-file-presentation"></i>Banner</a></li>
                            <li data-type="51" class="<%=type == 51 ? "active" : "" %>"><a href="/cpanel/laningPage-<%=landing %>-51.htm"><i class="icon-file-presentation"></i>Khối content 1</a></li>
                            <li data-type="52" class="<%=type == 52 ? "active" : "" %>"><a href="/cpanel/laningPage-<%=landing %>-52.htm"><i class="icon-file-presentation"></i>Khối content 2</a></li>
                            <li data-type="53" class="<%=type == 53 ? "active" : "" %>"><a href="/cpanel/laningPage-<%=landing %>-53.htm"><i class="icon-file-presentation"></i>Khối video</a></li>
                            <li data-type="54" class="<%=type == 54 ? "active" : "" %>"><a href="/cpanel/laningPage-<%=landing %>-54.htm"><i class="icon-file-presentation"></i>Gói 1</a></li>
                            <li data-type="55" class="<%=type == 55 ? "active" : "" %>"><a href="/cpanel/laningPage-<%=landing %>-55.htm"><i class="icon-file-presentation"></i>Gói 2</a></li>
                            <li data-type="56" class="<%=type == 56 ? "active" : "" %>"><a href="/cpanel/laningPage-<%=landing %>-56.htm"><i class="icon-file-presentation"></i>Gói 3</a></li>
                            <li data-type="57" class="<%=type == 57 ? "active" : "" %>"><a href="/cpanel/laningPage-<%=landing %>-57.htm"><i class="icon-file-presentation"></i>Footer</a></li>
                            <%} %>
                        </ul>
                    </div>
                </div>
                <!-- /main navigation -->
            </div>
            <!-- /main sidebar -->
            <!-- Main content -->
            <div class="content-wrapper" style="background: #fff">
                <!-- Content area -->
                <div class="page-header" id="adv-main">
                    <div class="panel-body " id="rlist">
                        <div class="row">
                            <div id="adv-wrapper">
                                <table class="table datatable-show-all dataTable no-footer">
                                    <thead>
                                        <tr>
                                            <th>Tên</th>
                                            <th>Ảnh</th>
                                            <th>Link</th>
                                            <th>Thứ tự</th>
                                            <th>Hiển thi</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <%

                                        var objs = ConfigBo.AdvGetByType(type, string.Empty).ToList();
                                        for (int i = 0; i < objs.Count(); i++)
                                        {
                                    %>
                                    <tr class="row-item" data="<%=objs[i].Id %>">
                                        <td>
                                            <input type="text" placeholder="Tiêu đề" class="name form-control" value="<%=objs[i].Name %>" />
                                            <textarea id="<%=i+"a" %>" style="margin-top: 10px" class="description ckeditor form-control" name="editor1" placeholder="Mô tả"><%=objs[i].Content %></textarea>
                                        </td>

                                        <td>
                                            <% if (type == 6)
                                                { %>
                                            <div class="form-group _grid">
                                                <label>Lưới hiển thị (3 cột) <a style="font-size: 10px" target="_blank" href="/Themes/imgs/ti-le.png">Xem ví dụ</a></label>
                                                <select data-placeholder="Select your state" class="select colDdl"  tabindex="4" data="<%= objs[i].Col %>">
                                                    <option value=''>- Chọn -</option>
                                                    <option value='col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12'>Tỉ lệ 1/3</option>
                                                    <option value='col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12'>Tỉ lệ 2/3</option>
                                                    <option value='col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12'>Tỉ lệ 1.5/3 (chia đôi)</option>
                                                    <option value="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">Full size</option>
                                                </select>

                                            </div>
                                            <% } %>
                                            <label for="fileSingleupload<%=objs[i].Id %>">
                                                <input accept="image/*" id="fileSingleupload<%=objs[i].Id %>" multiple type="file" name="files[]" style="display: none" />
                                                <img src="/uploads/<%=objs[i].Thumb %>?w=100" data="<%=objs[i].Thumb %>" /></label>
                                            <% if (type == 6)
                                                { %><p class="_grid">
                                                   Kích thước banner theo lưới hiển thị (đơn vị px).<br />
                                                   <strong>Tỉ lệ 1/3</strong> : 370x220
                                                <br />
                                                   <strong>Tỉ lệ 2/3</strong>: 755x220
                                                <br />
                                                   <strong>Tỉ lệ 1.5/3 - chia đôi</strong>: 562x220
                                               </p>
                                            <% } %>
                                        </td>
                                        <td>
                                            <div class="form-group fselect" style="display: inline-block; width: 100%">
                                                <p>
                                                    <label>Ngôn ngữ</label>
                                                </p>
                                                <select data-placeholder="Select your state" class="select languageDdl" tabindex="4" data="<%=objs[i].LanguageCode %>">
                                                    <%
                                                        var languages = ConfigBo.GetAllLanguage();
                                                        foreach (var lg in languages)
                                                        {
                                                    %>
                                                    <option value='<%=lg.Code %>'><%=lg.Name %></option>
                                                    <% } %>
                                                </select>
                                            </div>
                                            <div class="">
                                                <input type="text" style="width: 100%" class="url form-control" value="<%=objs[i].Url %>" />
                                            </div>
                                        </td>
                                        <td style="width: 100px">
                                            <input type="text" class="sort form-control" value="<%=objs[i].SortOrder %>" /></td>
                                        <td style="width: 40px">
                                            <input type="checkbox" class="isaenable" <%=objs[i].IsEnable?"checked":"" %> />
                                        </td>
                                        <td>
                                            <i class="icon-x delete position-left"></i>
                                        </td>
                                    </tr>
                                    <%} %>
                                    <tr id="row-add">
                                        <td colspan="6">
                                            <i class="icon-plus2 position-left"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="6">
                                            <div class="btn-save text-center">
                                                <button type="button" class="btn btn-default ibtn-xs btn-primary" id="save-temp"><i class="icon-floppy-disk position-left"></i>Lưu</button>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- /content area -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>

    <div id="IMSOverlayWrapper">
        <div id="IMSOverlayWrapperIn">
            <div id="IMSOverlayContent">
            </div>
            <span id="IMSOverlayClose"></span>
        </div>
    </div>
    <!-- modal -->
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="FooterCph" runat="server">
    <script src="/CMS/Themes/js/comfirm/jquery-confirm.js"></script>
    <script src="/CMS/Themes/js/ckeditor4.2/ckeditor.js?v=<%=UIHelper.Version %>"></script>
    <script src="/CMS/Themes/js/ckeditor4.2/config.js?v=<%=UIHelper.Version %>"></script>
    <script src="/CMS/Themes/js/jquery.jqpagination.js"></script>
    <script src="/CMS/Modules/FileManager/Scripts/image.upload.js?v=<%=UIHelper.Version %>"></script>
    <script src="/CMS/Modules/FileManager/Scripts/image.js?v=<%=UIHelper.Version %>"></script>
    <script src="/CMS/Themes/js/fselect/fselect.js?v=<%=UIHelper.Version %>"></script>
    <script src="/CMS/Modules/Slider/Scripts/main.js"></script>
    <%--end--%>
</asp:Content>

