
@font-face{
    font-family: "Vniaptim";
    src: url(../fonts/UTM_Aptima.ttf);
    font-weight: 500;
    
}
body {
    font-size:16px;
    font-weight: 500;
    color: #000;
    background: #fff;
    font-family: 'Vniaptim', sans-serif;
    position: relative;
    
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.header{width: 100%;border-bottom: 1px solid lightgrey;}
.header .navbar-brand {max-width:130px;}
.header .nav-bottom{background:url(../images/bg-header-01.jpg) no-repeat center center;background-size: cover;color: #fff;padding: 0;}
.header .nav-bottom .nav-link{font-weight: 600;padding:.5rem 1rem;font-size: 14px;}
.header .form-search {
    max-width: 100%;
    position: relative;
}
.header .form-search .btn-search{position: absolute; top: 0.5px;right: 1px;color: #F65D2D;border-radius: 10px;padding-top: 2px;}
.header .form-search input{border:1px solid #F65D2D;border-radius: 10px;}
.header .nav-bottom .nav-link,.item-link.sub{position: relative;}
.header .nav-bottom .nav-item.sub .nav-link::after,.item-link.sub::after{content: "\f078";font-family: "Font Awesome 5 Pro";margin-left: .5rem;font-size: 10px;position: absolute;top: 14px;}
.link-option{background: #F0545D;border-radius: 50%!important;height: 35px!important;width: 35px!important;text-align: center!important;padding: 3px!important;}

.nav-item.search{position: relative;}
.nav-item.search .input-search {
    position: relative;
    transition: .1s;width: 100%;margin-bottom: 1rem;
    padding: 3px 15px;
}
.nav-item.search .input-search input::placeholder{font-size: 14px;}
.nav-item.search .input-search input{border: 1px solid #F65D2D; }
.nav-item.search .btn-search {position: absolute;top: 3px;right:15px;background: #F65D2D;color: #fff;}
.banner-recruitment{background:url(../images/change/123SSSAA.jpg) ;}
.banner-recruitment .navbar-fff{background: #fff;}




.carousel-indicators li{width: 13px;height: 13px;border-radius: 50%;}
 .carousel-control-next, .carousel-control-prev{font-size: 30px;color: #FF0000;}
 .carousel-control-next:hover, .carousel-control-prev:hover{color: #fff;}
 .slide-home{font-size: 15px;}
.slide-home .carousel-indicators{z-index: 1;}
.slide-home .line{position: relative;margin-bottom: 2rem;}
.slide-home .line::after{position: absolute;width: 100px;height: 2px;background: #fff;content: "";left: 50%;transform: translateX(-50%);-webkit-transform: translateX(-50%);-ms-transform: translateX(-50%);}
.btn-try{background: #fff;color: #F65D2D;text-transform: uppercase;border-radius: 30px;padding: .5rem 1rem;border: 2px solid #fff;margin-bottom: 1rem;}
.btn-try:hover{color: #fff;background: #F65D2D;}
.slide-home .carousel-caption{color: #000;position: initial;padding: 1rem 1.5rem;}
.banner-home .box-right{color: #fff;}
.box-right .link{font-weight: bold;text-transform: uppercase;width: 100%;text-align: center;}

.heading-ss-home{text-transform: uppercase;font-size: 24px;font-weight: bold;text-align: center;position: relative;margin-bottom: 2.5rem;}
.heading-ss-home::after{position: absolute;width: 53px;height: 3px;background: url(../images/line-heading.svg) no-repeat center;background-size: cover;content: "";bottom: -1rem;left: calc(50% - 26px );}

.services .item{background: #FFFFFF;box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); border-radius: 10px;padding: 1.8rem;transition: .3s;height: 300px;position: relative;margin-bottom: 1.5rem;cursor: pointer;font-size: 14px;}
.services .item:hover{background: linear-gradient(215.48deg, #FE8837 3.98%, #FC4A35 96.58%), #FFFFFF;transition: .3s;color: #fff;}
.services .item .view-more{position: absolute;bottom:2rem ;color: #1F75FE; font-size: 16px;}
.services .item:hover .view-more{color: #fff;transition: .3s;}
.services .group-btn .btn{border-radius: 50px;color: #fff;background: #F0545D;padding: .65rem 2rem;height: 50px;}
.services .item .price{position: absolute;bottom: 3.8rem;font-size: 13px;}

.strong-point{background: url(../images/bg-strong-point.jpg) no-repeat center; background-size: cover;color: #fff;}

.mi-card,.mi-card .card-img-top {border-radius: 0px;border:0;}
.mi-card .card-text{font-size: 18px;}
.mi-card .card-body{box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);padding: 1.5rem 2rem;}
.view-more-projet{text-transform: uppercase;color: #FD9D5C;border:1px solid #FD9D5C; color: #FD9D5C;border-radius: 0;margin: 1rem 0;}
.mi-card .card-title{text-transform: uppercase;}
.mi-card .image {position: relative;height: 300px; overflow: hidden;}
.mi-card .image img{position: absolute;top: 0; left: 0;-webkit-transform: translateY(0);
    transition: transform 4s ease 0s,top 4s ease 0s;
    -webkit-transition: -webkit-transform 4s ease 0s,top 4s ease 0s;}
.mi-card:hover .image img{top: 100%;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);opacity: .7;
}

.intro .item{box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);padding: 1.5rem 2rem;margin-bottom: 1.5rem;}

.btn.view-more-news{text-transform: uppercase;color: #fff;background: #73ABA6;padding-left: 3rem;padding-right: 3rem;border-radius: 0;}

.item-lastest-new-home{margin: 1.5rem 0;font-size: 14px;}
.item-lastest-new-home .time{color: #515151;font-size: 14px;background: #F1F1F1;border-radius: 20px;padding: 3px 1rem;line-height: 1}
.item-lastest-new-home .view-more {
    color: #1F75FE;
    font-size: 14px;
}
.item-lastest-new-home .image img{border-radius: 5px;}

.service-detail{font-size: 15px;}
.service-detail .title{font-size: 24px;font-weight: bold;margin-bottom: 1rem;}
.service-detail .des{font-weight: bold;}

.mi-modal .modal-header{background: #FE6062;color: #fff;}
.mi-modal .modal-content{border: 0;box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);}
.mi-modal .btn-submit{background:#FE6062 ;color: #fff;border-radius: 10px;padding: 1rem 3rem;margin-bottom: 1rem;}
.mi-modal .form-control{border:1px solid #FE6062;height: 65px;border-radius: 10px;margin-bottom: 1.5rem;font-size: 18px;color: #FE6062}
.mi-modal .form-control::placeholder{color: #FE6062;}

.contact-home{background: #FE6062;color: #fff;font-size: 18px;}
.mockup{position: relative;}
.mockup .img-mockup{position: unset;width: 300px;}
.mockup .item{margin: 2rem 0;}

.try{background: url(../images/change/banner-lh.jpg) no-repeat center;background-size: cover;color: #fff;font-size: 18px;}
.btn-F0545D{background: #F0545D;color: #fff;font-family: 'Roboto';padding: .75rem 1rem;border-radius: 1.5rem;line-height: 1;}

.bg-form-tu-van{background: url(../images/change/123SSSAA.jpg) no-repeat center;background-size: cover;color: #fff;min-height: 60vh;
font-family: 'Roboto';font-weight: 400;}
.form-tv{background: #FC4A35;padding: 1.5rem 2rem;text-align: center;}
.form-tv .form-control{background: #FC4A35;border-radius: 10px;height: 50px;border:1px solid #fff;color: #fff;}
.form-tv .form-control::placeholder{color: #fff;}
.form-tv .btn-submit{background: #fff;color: #F0545D;border-radius: 20px;margin: 1rem auto;padding: .75rem 1.5rem;line-height: 1;}

.banner-crm{background: url(../images/change/banner-crm.svg) no-repeat bottom right;background-size: contain;min-height: 450px;}
.banner-crm .hero-text h1{text-transform: uppercase;color: #F65D2D;}
.banner-crm .hero-text p{font-size: 1rem; color: #7F7D7D;}
.banner-crm .hero-text .btn{color: #fff;background: #F0545D;border-radius: 10px;padding: .5rem 1rem;font-size: 1rem;}
.banner-crm-2 {font-size: 18px;}
.banner-crm-2 h2{font-size: 2rem;margin-bottom: 1rem;}
.banner-crm-2 .bg-crm{background: url(../images/change/bg-crm-2.svg) no-repeat center center;background-size: contain;min-height: 400px;}
.color-F65D2D{color: #F65D2D;}
.why-us .bg-crm{background: url(../images/change/crm-img-3.svg) no-repeat center center;background-size: contain;min-height: 350px;}
.wave-bot .bg-crm{background: url(../images/change/information-sign-on-shelf.jpg) no-repeat center center;background-size: cover;min-height: 300px;}
.wave-bot{font-size: 24px;position: relative;}
.bg-FFE1CC{background: #FFE1CC;}
.ocean {
   position: absolute;
    bottom: -60px;
    width: 100%;
    left: 0;

}
.wp-wave {
    overflow: hidden;
}
.wave.wave1 {
    position: relative;
    bottom: 0px;
    left: 0;
    animation: wave1 6s linear infinite;
    -webkit-animation: wave1 6s linear infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.wave {
    background: url(../images/wave.png);
    background-repeat: repeat-x;
    height: 100px;
    width: 350%;
    background-size: contain;
    background-position-y: bottom;
}

@keyframes wave1 {
    0% {
        transform: translateX(-54%);
    }
    100% {
        transform: translateX(0%);
    }
}

.item-recruitment{border-top: 1px solid #dedede;padding: 1rem 0;}  
.btn-detail-re{background: #F65D2D;color: #fff;border-radius: 0;text-transform: uppercase;padding: .5rem 1.5rem;}
.btn-detail-re:hover{color: #fff;background: #F0545D;transition: .3s;}

.hero-text-re{color: #fff;text-align: center;}
.hero-text-re a{text-decoration: underline;}
.form-re .form-control{border-radius: 0;}
.form-re .custom-file-label{border-radius: 0;}
.form-re .custom-file-label::after{content: "Đính kèm cv";background: #9A9A9A;color: #fff;border-radius: 0;text-decoration: underline;}

.detail-re .title{font-size: 1.75rem;font-weight: bold;}
.detail-re {font-size: 18px;margin-bottom: 1rem;}

.number{background: #F0545D;color: #fff;}
.number .item{border: 1px solid #fff;padding:1.5rem 1rem;text-align: center;margin-bottom: 1.5rem;}
.number .item .text{font-size: 18px;}
.number .item .amount::after{content: "+";}
.bg-4B083C{background: #4B083C!important;}
.form-tv.bg-4B083C .form-control {background: #4B083C;}
.form-tv.bg-4B083C .btn-submit,.form-tv.bg-fff .btn-submit{background: #F8105C;color: #fff;}
.bg-fff{background: #fff!important;}
.form-tv.bg-fff{border-radius: 10px;color: #3c3c3c;}
.form-tv.bg-fff .form-control{background: #fff;border: 1px solid #474747;}
.form-tv.bg-fff .form-control::placeholder{color: #3c3c3c;}

.price-list{font-family: "Roboto";}
.price-list .item{box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);background: #fff;color: #727272;color: #fff;margin-bottom: 1.5rem;}
.price-list .item .bg-top{height: 25px;background: #3CA4FF;}
.price-list .item .bg-image{padding: 2rem .75rem;background: #4BB6FF;}
.price-list .item .list{color: #727272;text-align: center;padding-top: 1rem;}
.price-list .item .list li{padding:.3rem 1rem;}
.price-list .item .line{position: relative;}
.price-list .item .line::after{position: absolute;width: 130px;height: 1px;background: #000;content: "";left: 50%;transform: translateX(-50%);
-ms-transform: translateX(-50%);-webkit-transform: translateX(-50%);}
.price-list .item .price{color: #000;text-align: center;font-size: 1.2rem;}
.btn-b-footer{padding: 1.2rem 1rem;text-transform: uppercase;color: #fff;background: #4BB6FF;border-radius: 0;font-size: 1.2rem;}


.footer{padding-top: 3rem ;background:#5A5A5A;color: #fff;font-size: 15px;}


.footer .title-menu{font-size: 14px;font-weight: 400;margin-bottom: 2rem;color: #fff;text-transform: uppercase;position: relative;}
.footer .title-menu::after{position: absolute;content: "";bottom: -15px;width: 30px;height: 2px;background: url(../images/line-footer.svg) no-repeat center center;background-size: cover;left: 0;}
.footer .footer-menu{margin-bottom: 2rem;}
.footer .footer-menu li{margin-bottom: .5rem;}
.footer .block-social{font-size: 15px;color: #a9a9a9;}
.footer .input-group{border-radius: 10px;overflow: hidden;}
.footer .input-group input{background: #fff;height: 45px;}
.footer .input-group .btn{background: #F65D2D;color: #fff;border-top-right-radius: 10px;border-bottom-right-radius: 10px;}


.social-fixed{position: fixed;top: 30%;right: 0;}
.social-fixed a{padding: 6px;background: #0A1E34;display: block;margin-bottom: 1rem;text-align: center;color: #fff;width: 45px;height: 45px;font-size: 22px;z-index: 100;}
.social-fixed-2{position: fixed;bottom: 70px;right: 0;z-index: 1000;}
.social-fixed-2 a{padding:6px 20px;font-size: 14px;color: #fff;border-top-left-radius: 10px;border-bottom-left-radius: 10px;background: #C0241D;
display: block;width: auto;margin-bottom: 1rem;z-index: 100;}


.menu-left{margin-bottom: 2rem;}
.menu-left .item{border-bottom: 1px solid #A1B7B5;padding: 4px 0;font-size: 18px;font-weight: 500;color: #0A1E34;position: relative;transition: .3s;}
.menu-left .item:hover{padding-left: 15px;transition: .5s;}





.list-tags{margin-bottom: 2rem;}
.list-tags label{font-size: 14px;color: #000;}
.list-tags .item{color: #494949;margin-right: .5rem;background: #fff;border-radius: 5px;display: inline-block;padding: .5rem 1rem;
font-size: 14px;border: 1px solid #F65D2D;margin-bottom: 1rem;}



.bg-lien-he{background: url(../images/change/bg-lien-he.jpg) no-repeat center;background-size: cover;padding: 4rem 0;}
.lh-box-infor{background: rgba(10, 30, 52, 0.8);color: #fff;padding: 20px;font-size: 16px;word-wrap: break-word;}
.lh-box-infor .title{font-size: 20px;}

input.form-lh,textarea.form-lh,.btn.form-lh{background:rgba(10, 30, 52, 0.6) ;border-radius: 0;border: 1px solid #fff;}
input.form-lh{height: 49px;}
.form-lh::placeholder{color: #fff;}
.btn.form-lh{color: #fff;padding: .5rem 2.5rem;text-transform: uppercase;font-size: 18px;font-weight: bold;}
.heading-lh{font-weight: bold;font-size: 24px;color: #32445B;padding: .75rem;text-transform: uppercase;text-align: center;}


.box-right .item {
    height: 28%;
    overflow: hidden;
    margin-bottom: 10px;
}
.box-right .item:last-child {margin-bottom: 0;}


.heading-right{position: relative;padding-left: 1.5rem;font-size: 18px;color: #0A1E34;font-weight: bold;margin-bottom: 1rem;}
.heading-right::before{position: absolute;width: 11px;height: 11px;background: #73ABA6;content: "";left: 0;top: 6px;}
.heading-right::after{position: absolute;width: calc(100% - 100px);height: 2px;background: #73ABA6;content: "";right: 0;top: 12px;}
.heading-right-2::before{background: #000;}
.heading-right-2::after{height: 1px;top: auto;bottom: -3px;width: 100%;background: #dee2e6;}






.menu-left-2{padding: 0 20px;background: #0A1E34}
.menu-left-2 .item{color: #fff;border-bottom: 1px solid #000;background: #0A1E34;padding: 10px 0;}
.menu-left-2 .item::after{content: ">";float: right;color: #fff;}
.menu-left-2 .heading{background: #73ABA6;padding: 10px 20px;color: #fff;margin: 0 -20px;font-weight: bold;text-transform: uppercase;}


.line-pr{position: relative;width: 100%;height: 1px;background: #F65D2D;margin: 2.5rem 0;}
.line-pr::after,.line-pr::before{position: absolute;width: 16px;height: 16px;background: #F0545D;border-radius: 50%;content: "";top: -8px;}
.line-pr::after{right: 0;}

.bg-FC4A35{background: #FC4A35;color: #fff;font-size: 14px;margin-top: 200px;}
.mockup-desktop{margin-top: -150px;}


.blog-ss-1 {
    padding: 20px 0;
}

.blog-ss-1 .item:hover .title {
    
    transition: .5s;
}

.blog-ss-1 .slide-blog-cate .item:hover .title {
    
}

.blog-ss-1 .item:hover img {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transition: .5s;
}

.blog-ss-1 .item {
    position: relative;
    overflow: hidden;
}

.blog-ss-1 .item .title {
    background: #F65D2D;
    padding: 15px;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: .5s;
}

.blog-ss-1 .item .title {
    font-size: 16px;
    font-weight: bold;margin-bottom: 0;text-align: center;text-transform: uppercase;
}

.blog-ss-1 .item-right {
    height: calc(50% - 1rem);
}

.blog-ss-1 .item-right img,
.blog-ss-1 .item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .5s;
}

.media {
    padding: 35px 0;
    background: #EDEDED;
}

.media .item .title {
    font-weight: 400;
    font-size: 15px;
    color: #000;
}

.media .item .date {
    color: #9B9B9B;
    font-size: 12px;
    margin-bottom: 1rem;
}

.media .item .date .acc {
    margin-right: 1.5rem;
    position: relative;
}

.media .item .date .acc::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    right: -1rem;
    background: #9B9B9B;
    top: 5px;
}
.blog-ss-2 .heading,
.blog-ss-right .heading-2 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    position: relative;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
}

.blog-ss-2 .heading::before,
.blog-ss-right .heading-2::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background: #F65D2D;
    top: -10px;
}

.blog-ss-2 .image,
.blog-ss-right .image {
    margin-bottom: 1rem;
    overflow: hidden;
}

.blog-ss-2 .image img,
.blog-ss-right .image img {
    width: 100%;
    height: auto;
}

.blog-ss-2 .item-left .title,
.blog-ss-right .item-left .title {
    font-size: 15px;
    margin-bottom: 10px;
    color: #000;
}

.blog-ss-2 .item-left .detail,
.blog-ss-right .item-left .detail {
    font-size: 14px;
    color: #3c3c3c;
}

.blog-ss-2 .item-right,
.blog-ss-right .item-right {
    display: flex;
}

.blog-ss-2 .item-right .image,
.blog-ss-right .item-right .image {
    width: 25%;
    align-self: center;
}

.blog-ss-2 .item-right .text,
.blog-ss-right .item-right .text {
    width: 75%;
    padding-left: .75rem;
    margin-bottom: 8px;
}

.blog-ss-2 .item-right .title,
.blog-ss-right .item-right .title {
    font-size: 14px;
    margin-bottom: 8px;
    color: #000;
    line-height: 1.5;
    font-weight: 400;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog-ss-2 .item-right .time,
.blog-ss-right .item-right .time {
    font-size: 12px;
    color: #9B9B9B;
    font-weight: 300;
}

.blog-ss-right .heading,
.media .heading,
.list-news .heading,
.slide-blog-detail .heading {
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.blog-ss-right .heading::before,
.media .heading::before,
.list-news .heading::before,
.slide-blog-detail .heading::before {
    width: 15px;
    height: 15px;
    position: absolute;
    content: "";
    left: 0;
    background: #F65D2D;
    top: 8px;
}

.blog-ss-right .heading::after,
.media .heading::after,
.list-news .heading::after,
.slide-blog-detail .heading::after {
    width: calc(100% - 160px);
    height: 2px;
    position: absolute;
    content: "";
    right: 0;
    background: #E1E1E1;
    top: 14px;
}

.media .heading::after {
    width: calc(100% - 100px);
}

.slide-blogs .swiper-button-prev,.slide-blogs .swiper-button-next{background: none;color: #F65D2D;}
.slide-blogs .swiper-button-prev{left: -5px;}
.slide-blogs .swiper-button-next{right: -5px;text-align: right;}

.item-video .time, .item-news  .time{color: #5E5E5E;padding-left: .5rem;margin-bottom: .5rem;}
.item-video .time::before,.item-news  .time::before{content:"•";margin-right: .5rem;}

.detail-bl{padding-bottom: 2rem;border-bottom: 1px solid #FD9D5C;}
.detail-bl .des{font-weight: bold;margin-bottom: 1rem;}

.item-news{border-top: 1px solid #F65D2D;padding: 1.5rem 0;font-size: 14px;}
.item-news .title{font-size: 1.2rem;font-weight: bold;margin-bottom: .75rem;}

@media(min-width:320px){
    
}

@media(min-width:375px){
    
}

@media(min-width:576px){


    .banner-crm{min-height: 600px;}
}

@media(min-width:768px){
    .header .navbar-brand {max-width: 140px}
    .header .nav-bottom .nav-link{padding: 1rem;}
    
    .header .nav-bottom .nav-item.sub-2{position: relative;}
    
    
    
    .header .nav-bottom .nav-link{font-size: 16px;}
    
  
   
    
    
    .lh-box-infor{padding: 30px 50px 50px;position: relative;}
    .lh-box-infor .title{font-size: 32px;margin-bottom: 1rem;}
    .lh-box-infor::before{content: "";position: absolute;width: 60px;height: 60px;background: #73aba6d9;left: -20px;top: -40px;}
    .bg-dat-lich{font-size: 18px;}
    .bg-dat-lich input.form-control{height: 47px;}
    .bg-dat-lich label{align-self: center;}
    .bg-dat-lich .font-24{font-size: 24px;line-height: 1.4;}
    .bg-dat-lich .list-infor li{margin-bottom: .5rem;}

    .contact-home{font-size: 18px;}
    .mockup .img-mockup{position: absolute;left: 50%;transform:translateX(-50%); top: 100px;width: 300px;}
    .banner-crm{background: url(../images/change/banner-crm.svg) no-repeat center right;background-size: 600px 400px;min-height: 400px;position: relative;}
    .banner-crm .hero-text{position: absolute;top: 50%;transform: translateY(-50%);}
    .banner-crm .hero-text p{font-size: 1.5rem;}
    .banner-crm .hero-text .btn{padding: .5rem 1.5rem;font-size: 1.2rem;}

    .ocean {
        position: absolute;
         bottom: -330px;
         width: 100%;
         left: 0;
     
     }
     .wave{height: 400px;}
     .wave-bot .bg-crm{height: 100%;}
     .slide-home .carousel-caption{color: #fff;position: absolute;padding:initial;}
     .slide-home .carousel-caption p{display: none;}
     .slide-home .carousel-caption h1{font-size: 1.5rem;}

     .nav-item.search{position: relative;}
     .nav-item.search .input-search {
        position: absolute;
        right: 0rem;
        top: calc(100% + 50px);
        background: #fff;
        padding: 3px;
        opacity: 0;
        visibility: hidden;
        transition: .1s;
        box-shadow: 0 1px 3px lightgrey;width: 280px;
    }
    .nav-item.search .input-search input{border: 1px solid #F65D2D;}
    .nav-item.search:hover .input-search, .nav-item.search.active .input-search {
        top: calc(100% - 1px);
        opacity: 1;
        visibility: visible;
        transition: .3s;
        z-index: 10;
    }
    .nav-item.search .btn-search{right: 3px;}
   
    .banner-recruitment{background: url(../images/change/123SSSAA.jpg) no-repeat center center;background-size: cover;min-height: 400px;}
    .banner-recruitment .header .nav-bottom{background: none;}
    .banner-recruitment .navbar-fff{background: #fff;}
    .header{border-bottom: 0;}
    
    
}

@media(min-width:992px){
    .banner-crm{background: url(../images/change/banner-crm.svg) no-repeat center right;background-size: 800px 550px;min-height: 550px;}
    .slide-home .carousel-caption p{display: block;}
.slide-home .carousel-caption h1{font-size: 2rem;}
}

@media(min-width:1200px){
    
.banner-crm{background: url(../images/change/banner-crm.svg) no-repeat bottom right;background-size: 867px 576px;min-height: 570px;}
.slide-home .carousel-caption h1{font-size: 2.5rem;}
.slide-home .carousel-caption {top: 15%;}
}

@media(min-width:1366px){
    .banner-crm{background: url(../images/change/banner-crm.svg) no-repeat bottom right;background-size: 1000px 664px;min-height: 664px;}
}

@media(min-width:1440px){
    .banner-crm{background: url(../images/change/banner-crm.svg) no-repeat bottom right;background-size: 1100px 730px;min-height: 730px;}
}



  
@media(min-width:576px){
    
}

@media (min-width: 768px){
    

    
    .header.fixed .nav-bottom{position: fixed;top: 0;width: 100%;z-index: 100;    transform: translateX(-50%); -ms-transform: translateX(-50%);left: 50%;

    }
    .header.fixed .nav-bottom{
        background: url(../images/bg-header-01.jpg) no-repeat center center;
        background-size: cover;border-bottom: 3px solid #fff;
    }

   
  }

  @media (min-width: 768px) and (max-width: 1200px){
    
    .header .nav-bottom .nav-link {    font-size: 12px;
        padding: 10px 5px;}

     
     .header .nav-item .infor{font-size: 12px;}

     .item-link:hover::after{transform: rotate(-180deg);transition: .5s;-ms-transform: rotate(-180deg);-webkit-transform: rotate(-180deg);}
  }

  @media (min-width: 1366px){
  
  .container{max-width: 1245px;}

  }
