﻿
/*==*/

#data-list .datatable-scroll tr td span, #data-list .datatable-scroll tr td label, #data-list .datatable-scroll tr td time { color: #9F9F9F; font-family: tahoma; font-size: 11px; display: inline-block; }
#data-list .datatable-scroll tr td .bold { font-weight: bold; }
#data-list .datatable-scroll tr td time { }
#data-list .datatable-scroll tr td ._hot { vertical-align: middle; margin-left: 20px; }
#data-list .datatable-scroll tr td { padding: 8px 10px; }
#data-list .datatable-scroll tr td input[type="checkbox"] { cursor: pointer; }
#data-list .datatable-scroll tr p { margin-bottom: 0; }
#data-list .datatable-scroll tr .comment-lock { }
#data-list .datatable-scroll tr .allow-comment { }
#data-list .datatable-scroll tr .allow { color: #0074c9; }
#data-list .datatable-scroll tr .disable { color: #a9a9a9; }
#data-list .datatable-scroll tr td .thumb { border: 1px solid #e6e6fa; padding: 2px; }
#data-list .datatable-scroll tr:nth-of-type(odd) { background: #f5f5f5; }
#header-page { margin: 0; padding: 10px 20px 10px 0; }
._search-data { width: 250px !important; }
._zone { color: #2196f3; font-size: 11px; }
#news-edit .page-header-content { padding-left: 20px; padding-right: 0; }
#news-edit .navbar-component { margin-bottom: 4px; }
#news-edit .datatable-scroll table { margin-bottom: 40px; }
#news-form .modal-content, #news-edit-content { }
#news-edit-content { max-width: 1400px; margin: 0 auto; }
#news-edit-content .radio-inline, .checkbox-inline { padding-left: 15px; }
.tab-pane.active .row { margin: 0; }
.product-refer { border: 1px solid #a9a9a9; padding: 4px; }
.product-refer li { cursor: pointer; line-height: 30px; list-style-type: none; margin: 0px 1px; padding: 2px 5px; }
.product-refer li p { margin: 0; line-height: 40px; padding-left: 50px; }
.product-refer li .thumb img { width: 40px; float: left; clear: both; border: 1px solid #e6e6fa; padding: 2px; }
#module-content .btn-action { padding: 8px 0; width: 100%; }
#module-content .btn-action button, #news-preview-content .btn-action button { border-radius: 5px; margin: 0 12px; padding: 1px 14px; line-height: 19px; }
.btn-action button._edit:hover, #module-content .btn-action button._view:hover { color: #fff; background-color: #0074c9; border-color: #0074c9; }
.btn-action button._delete:hover { color: #fff; background-color: #ad1616; border-color: #ad1616; }
.btn-action button._publish:hover { color: #fff; background-color: #568f0a; border-color: #568f0a; }
.btn-action button._unpublish:hover { color: #fff; background-color: #d3a900; border-color: #d3a900; }
.btn-action button._reject:hover { color: #fff; background-color: #d3a900; border-color: #d3a900; }
.btn-action button._request_publish:hover { color: #fff; background-color: #0074c9; border-color: #0074c9; }
#data-list .datatable-scroll tr.row-selected { background: #dae1e4; }
#data-list .datatable-scroll tr td i.icon-magazine { color: #568f0a; }
#data-list .datatable-scroll tr td i.icon-file-presentation { color: #d3a900; }
#attack-thumb img { border: 1px solid #e6e6fa;width: 100% }
.text-count-wrapper { text-align: right; font-size: 11px; }
#news-preview .container { }
#news-preview-content { padding: 0; }
#news-preview .modal-content { background: transparent !important; }
#news-preview-content .body { width: 800px; margin: 0 auto; border: 1px solid #e6e6fa; padding: 0 20px; background: #fff; }
#_body { max-width: 1400px;margin: 0 auto}
#_body .col-lg-9 .form-group{ width: 100%;display: table}
p img { margin: 0 auto; }
h1, h2 { padding: 0; margin: 0; }
#news-preview-content p img { }
.icon-video { background: rgba(0, 0, 0, 0) url("/CMS/Themes/images/video-small.png") no-repeat scroll 0 0; display: inline-block; height: 21px; left: 17px; margin: 0 auto; position: absolute; right: 0; width: 22px; top: 24px; }
.avatar { position: relative; width: 60px; height: 60px; overflow: hidden; }

#data-pager { padding-top: 3px; height: 38px; }
.iweb.ipagination { display: inline-block; border: 1px solid #CDCDCD; }
.ipagination.iweb { }
.ipagination.iweb > li { display: inline; list-style-type: none; }
.iweb.ipagination a { display: block; float: left; width: 20px; height: 20px; outline: none; border-right: 1px solid #CDCDCD; border-left: 1px solid #CDCDCD; color: #555555; vertical-align: middle; text-align: center; text-decoration: none; font-weight: bold; font-size: 16px; font-family: Times, 'Times New Roman', Georgia, Palatino; /* ATTN: need a better font stack */ background-color: #f3f3f3; }
.iweb.ipagination a:hover, .ipagination a:focus, .pagination a:active { background-color: #cecece; }
.ipagination a.disabled, .ipagination a.disabled:hover, .ipagination a.disabled:focus, .ipagination a.disabled:active { background-color: #f3f3f3; color: #A8A8A8; cursor: default; }
.iweb.ipagination a:first-child { border: none; border-radius: 2px 0 0 2px; }
.iweb.ipagination a:last-child { border: none; border-radius: 0 2px 2px 0; }
.iweb.ipagination input { float: left; margin: 0; padding: 0; width: 120px; height: 20px; outline: none; border: none; vertical-align: middle; text-align: center; }
/* gigantic class for demo purposes */
.iweb.gigantic.pagination { }
.iweb.ipagination a { height: 30px; width: 35px; line-height: 28px; }
.iweb.ipagination input { height: 30px; }
#data-pager > span { vertical-align: top; display: inline-block; line-height: 36px; padding: 0 4px; }
#news-edit-content .header { background: #FFF; border-bottom: 1px solid #CDCDCD; padding: 2px 0; }
#news-edit-content ._body { padding-top: 30px; }
#news-preview [data-dismiss=modal] { color: #f5f5f5; }
.slimScrollDiv{overflow:initial !important}

/*log*/
#_log{}
#_log ul{ padding: 0;margin: 0}
#_log ul li{ list-style-type: none}
#_log p{}
#_log p time{ color: #a9a9a9;font-size: 11px;}
#log_content{font-size: 11px;}