﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="HoangLongMaster.master.cs" Inherits="Mi_Company.Themes.HoangLongMaster" %>

<%@ Import Namespace="Mi_Company.Core.Helper" %>
<%@ Import Namespace="Newtonsoft.Json" %>
<%@ Import Namespace="Resources" %>
<%@ Import Namespace="Mi.BO.Base.Zone" %>
<%@ Import Namespace="Mi.BO.Base.News" %>

<!DOCTYPE html>
<html lang="vi">
<head runat="server">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="theme-color" content="#081b62" />
    <meta name="msapplication-navbutton-color" content="#081b62">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="Content-Language" content="vi" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="audience" content="general" />
    <meta name="resource-type" content="document" />
    <meta name="abstract" content="Hoàng Long" />
    <meta name="classification" content="Hoàng Long" />
    <meta name="area" content="Hoàng Long" />
    <meta name="placename" content="Việt Nam" />
    <meta name="author" content="hoanglongclinic.vn" />
    <meta name="copyright" content="©2019hoanglongclinic.vn" />
    <meta name="owner" content="https://hoanglongclinic.vn" />
    <meta name="distribution" content="Global" />
    <meta name="robots" content="index,follow,all" />
    <link rel="alternate" href="<%= UIHelper.Canonical("https://hoanglongclinic.vn") %>" />
    <link rel="canonical" href="<%= UIHelper.Canonical("https://hoanglongclinic.vn") %>" />
    <%--<link
        href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i&display=swap&subset=vietnamese"
        rel="stylesheet">--%>
    <script src="https://kit.fontawesome.com/0f84ce1997.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/Themes/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/Themes/vendor/swiper.min.css">
    <link rel="shortcut icon" type="image/png" href="/uploads/<%=UIHelper.GetConfigByName("Favicon") %>" />
    <link rel="stylesheet" href="/Themes/css/style.css">
    <style>
        .zalo-div{
            width: 30px; height: 29px; background: url(../themes/images/social-ic-02.png) no-repeat center center; background-size: cover; margin:2px;
        }
    </style>
    <%=UIHelper.GetConfigByName("ScriptHeader") %>
    <asp:ContentPlaceHolder ID="HeadCph" runat="server">
    </asp:ContentPlaceHolder>
</head>

<body>
    <%=UIHelper.GetConfigByName("ScriptBody") %>
    
    <%
        var lang = Current.LanguageJavaCode;
        var currentLanguage = Current.Language;
    %>
    <div class="container px-0 px-md-3">
        <section class="header">
            <div class="nav-top" style="background: #73ABA6; color: #fff; font-size: 12px;">
                <div class="container d-flex">
                    <div class="social d-flex">
                        <div class="nav-item">
                            <a href="" class="nav-link px-2" title=""><i class="fab fa-facebook-square"
                                aria-hidden="true"></i></a>
                        </div>

                        <div class="nav-item">
                            <a href="" class="nav-link px-2" title=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="language dropdown ml-auto">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%=Language.Lang %>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/vi">Tiếng Việt</a>
                            <a class="dropdown-item" href="/en">Tiếng Anh</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <nav class="navbar navbar-expand-md py-md-4 px-0 flex-md-wrap flex-lg-nowrap">
                    <a class="navbar-brand mb-md-3 mb-lg-0" href="/<%=currentLanguage %>" title="">
                        <img src="/uploads/<%=UIHelper.GetConfigByName_v1("Logo",lang) %>" alt="" class="img-fluid" /></a>
                    <button class="navbar-toggler " type="button" data-toggle="collapse"
                        onclick="$('.collapse').toggle(100, 'swing');">
                        <i class="fas fa-bars"></i>
                    </button>

                    <div class="collapse navbar-collapse w-100">
                        <ul class=" navbar-nav ml-lg-auto ">
                            <li class="nav-item mr-md-4 align-self-md-center mb-3 mb-md-0">
                                <div class="infor">
                                    <div class="time mb-1">
                                        <%//Nghien cuu resource cho nay %>
                                        <label><%=Language.Working_Time %></label>
                                        <%=UIHelper.GetConfigByName_v1("ThoiGianLamViec",lang) %>
                                    </div>
                                    <div class="hotline mb-1">
                                        <label>Hotline:</label>
                                        <%=UIHelper.GetConfigByName("Hotline") %>
                                    </div>
                                    <div class="add">
                                        <label><%=Language.Address %></label>
                                        <%=UIHelper.GetConfigByName_v1("DiaChi",lang) %>
                                    </div>
                            </li>
                            <li class="nav-item mr-md-3 align-self-md-center mb-3 mb-md-0 ml-md-5 ml-lg-0">
                                <div class="form-search">
                                    <input class="form-control" placeholder="<%=Language.Search  %>" id="txt_tim_kiem" data-lang="<%=currentLanguage %>" />
                                    <a href="" class="btn btn-search"><i class="fas fa-search"></i></a>
                                </div>
                            </li>

                            <li class="nav-item align-self-md-center">
                                <div class="lang pt-md-2">
                                    <div class="vi"><a href="/vi" title=""></a></div>
                                    <div class="eng"><a href="/en" title=""></a></div>
                                </div>
                            </li>
                        </ul>

                    </div>
                </nav>
            </div>
            <nav class="container nav-bottom navbar navbar-expand-md">
                <div class="container">
                    <div class="collapse navbar-collapse container" id="navbarNavDropdown">
                        <ul class="navbar-nav justify-content-md-around w-100 py-3 py-md-0">
                            <li class="nav-item ">
                                <%var home = ""; %>
                                <%if (currentLanguage == "vi")
                                        home = "TRANG CHỦ";
                                    if (currentLanguage == "en")
                                        home = "HOME";%>
                                <a class="nav-link" href="/<%=currentLanguage %>"><%=home %></a>
                            </li>
                            <li class="nav-item sub sub-2">
                                <%var about_zone = ZoneBo.GetZoneWithLanguageByType(1, lang).ToList(); %>
                                <%var about_parent = about_zone.Where(r => r.ParentId == 0).SingleOrDefault(); %>
                                <%var about_child = about_zone.Where(r => r.ParentId > 0).ToList(); %>
                                <%var r1 = 0; %>
                                <%var about_list_news = NewsBo.GetNewsDetailWithLanguage(1, lang, 2, about_parent.Id, string.Empty, 1, 4, ref r1); %>
                                <a class="nav-link" href="/<%=currentLanguage %>/<%=about_parent.Alias %>"><%=about_parent.lang_name %></a>
                                <div class="mega-menu mega-menu-2">
                                    <%foreach (var item in about_child)
                                        { %>
                                    <div class="item-link">
                                        <a href="/<%=currentLanguage %>/<%=UIHelper.GetTypeUrlByHoangLongProject(item.Type) %>/<%=item.Alias %>"><%=item.lang_name %></a>
                                    </div>
                                    <%} %>
                                    <div class="item-link">
                                        <a href="/<%=currentLanguage %>/doi-ngu-bac-si"><%=Language.Our_Doctor %></a>
                                    </div>
                                </div>
                            </li>
                            <%--<li class="nav-item sub">

                            <%var service_zone = ZoneBo.GetZoneWithLanguageByType(11, lang).ToList(); %>
                            <%var service_parent = service_zone.Where(r => r.ParentId == 0).SingleOrDefault(); %>
                            <%var service_child = service_zone.Where(r => r.ParentId > 0).Skip(0).Take(8); %>
                            <%var banner_quang_cao = ConfigBo.AdvGetByType(9, lang).ToList(); %>
                            <%var banner = banner_quang_cao[0]; %>
                            <a class="nav-link" href="javascript:void(0)"><%=service_parent.lang_name %></a>
                            <div class="mega-menu">
                                <div class="row no-gutters">
                                    <div class="col-md-10 col-sm-12 col-12 ">
                                        <div class="row no-gutters">
                                            <%var service_child_1 = service_child.Skip(0).Take(4); %>
                                            <%foreach (var item in service_child_1)
                                                { %>
                                            <div class="col-md-3 col-sm-6 col-12">
                                                <div class="heading-menu">
                                                    <a href="/<%=currentLanguage %>/<%=UIHelper.GetTypeUrlByHoangLongProject(item.Type) %>/<%=item.Alias %>"><%=item.lang_name %></a>
                                                </div>
                                                <%var totalRow = 0; %>
                                                <%var listNews = NewsBo.GetNewsByZoneIdAndLanguage(item.Id, lang, 1, 4, ref totalRow); %>
                                                <ul class="sub-link ">
                                                    <%foreach (var n in listNews)
                                                        { %>
                                                    <li class="item">
                                                        <a href="/<%=currentLanguage %>/<%=UIHelper.GetTypeUrlByHoangLongProject(item.Type) %>/<%=item.Alias %>/<%=n.Url %>.<%=n.Id %>.htm"><%=n.Title %></a>
                                                    </li>
                                                    <%} %>
                                                </ul>
                                                <%if (totalRow > 4)
                                                    { %>
                                                <div class="view-more">
                                                    <a href="/<%=currentLanguage %>/<%=UIHelper.GetTypeUrlByHoangLongProject(item.Type) %>/<%=item.Alias %>"><%=Language.More %></a>
                                                </div>
                                                <%} %>
                                            </div>
                                            <%} %>
                                        </div>
                                        <div class="row no-gutters bg-18847A">
                                            <%var service_child_2 = service_child.Skip(4).Take(4); %>
                                            <%foreach (var item in service_child_2)
                                                { %>
                                            <div class="col-md-3 col-sm-6 col-12">
                                                <div class="heading-menu">
                                                    <a href="/<%=currentLanguage %>/<%=UIHelper.GetTypeUrlByHoangLongProject(item.Type) %>/<%=item.Alias %>"><%=item.lang_name %></a>
                                                </div>
                                                <%var totalRow = 0; %>
                                                <%var listNews = NewsBo.GetNewsByZoneIdAndLanguage(item.Id, lang, 1, 4, ref totalRow); %>
                                                <ul class="sub-link pb-2">
                                                    <%foreach (var n in listNews)
                                                        { %>
                                                    <li class="item">
                                                        <a href="/<%=currentLanguage %>/<%=UIHelper.GetTypeUrlByHoangLongProject(item.Type) %>/<%=item.Alias %>/<%=n.Url %>.<%=n.Id %>.htm"><%=n.Title %></a>
                                                    </li>
                                                    <%} %>
                                                </ul>
                                                <%if (totalRow > 4)
                                                    { %>
                                                <div class="view-more">
                                                    <a href="/<%=currentLanguage %>/<%=UIHelper.GetTypeUrlByHoangLongProject(item.Type) %>/<%=item.Alias %>"><%=Language.More%></a>
                                                </div>
                                                <%} %>
                                            </div>
                                            <%} %>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-12 col-12 ">
                                        <a href="<%=banner.Url %>">
                                            <img src="/uploads/<%=banner.Thumb %>" class="img-fluid mt-3 mt-md-0" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>--%>
                            <%var service_zone = ZoneBo.GetZoneWithLanguageByType(11, lang).ToList(); %>
                            <%var service_parent = service_zone.Where(r => r.ParentId == 0).SingleOrDefault(); %>
                            <%var service_child = service_zone.Where(r => r.ParentId > 0).Skip(0).Take(5); %>
                            <%var banner_quang_cao = ConfigBo.AdvGetByType(9, lang).ToList(); %>
                            <%var banner = banner_quang_cao[0]; %>
                            <li class="nav-item sub sub-2">
                                <a class="nav-link" href="javascript:void(0)"><%=service_parent.lang_name %></a>
                                <div class="mega-menu mega-menu-2">
                                    <%//Lay danh sach cac zone chiold %>
                                    <%foreach (var item in service_child)
                                        { %>
                                    <div class="item-link sub">

                                        <a href="/<%=currentLanguage %>/<%=UIHelper.GetTypeUrlByHoangLongProject(item.Type) %>/<%=item.Alias %>"><%=item.lang_name %></a>
                                        <div class="sub-menu  mega-menu-2">
                                            <%//lay danh sach cac bai viet con %>
                                            <%var totalRow = 0; %>
                                            <%var listNews = NewsBo.GetNewsByZoneIdAndLanguage(item.Id, lang, 1, 4, ref totalRow); %>
                                            <%foreach (var n in listNews)
                                                { %>
                                            <div class="item-link">
                                                <a href="/<%=currentLanguage %>/<%=UIHelper.GetTypeUrlByHoangLongProject(item.Type) %>/<%=item.Alias %>/<%=n.Url %>.<%=n.Id %>.htm"><%=n.Title %></a>
                                            </div>
                                            <%} %>
                                        </div>
                                    </div>
                                    <%} %>
                                </div>
                            </li>
                            <%var chuyenkhoa_zone = ZoneBo.GetZoneWithLanguageByType(12, lang).ToList(); %>
                            <%var chuyenkhoa_parent = chuyenkhoa_zone.Where(r => r.ParentId == 0).SingleOrDefault(); %>
                            <%var chuyenkhoa_child = chuyenkhoa_zone.Where(r => r.ParentId > 0).Skip(0).Take(5); %>
                            <%--<li class="nav-item sub">
                                <a class="nav-link" href="javascript:void(0)"><%=chuyenkhoa_parent.lang_name %></a>
                                <div class="mega-menu">
                                    <div class="row no-gutters">
                                        <div class="col-md-10 col-sm-12 col-12 ">
                                            <div class="row no-gutters">
                                                <%var chuyenkhoa_child_1 = chuyenkhoa_child.Skip(0).Take(4); %>
                                                <%foreach (var item in chuyenkhoa_child_1)
                                                    { %>
                                                <div class="col-md-3 col-sm-6 col-12">
                                                    <div class="heading-menu">
                                                        <a href="/<%=currentLanguage %>/<%=UIHelper.GetTypeUrlByHoangLongProject(item.Type) %>/<%=item.Alias %>"><%=item.lang_name %></a>
                                                    </div>
                                                    <%var totalRow = 0; %>
                                                    <%var listNews = NewsBo.GetNewsByZoneIdAndLanguage(item.Id, lang, 1, 4, ref totalRow); %>
                                                    <ul class="sub-link ">
                                                        <%foreach (var n in listNews)
                                                            { %>
                                                        <li class="item">
                                                            <a href="/<%=currentLanguage %>/<%=UIHelper.GetTypeUrlByHoangLongProject(item.Type) %>/<%=item.Alias %>/<%=n.Url %>.<%=n.Id %>.htm"><%=n.Title %></a>
                                                        </li>
                                                        <%} %>
                                                    </ul>
                                                    <%if (totalRow > 4)
                                                        { %>
                                                    <div class="view-more">
                                                        <a href="/<%=currentLanguage %>/<%=UIHelper.GetTypeUrlByHoangLongProject(item.Type) %>/<%=item.Alias %>"><%=Language.More %></a>
                                                    </div>
                                                    <%} %>
                                                </div>
                                                <%} %>
                                            </div>
                                            <div class="row no-gutters bg-18847A">
                                                <%var chuyenkhoa_child_2 = chuyenkhoa_child.Skip(4).Take(4); %>
                                                <%foreach (var item in chuyenkhoa_child_2)
                                                    { %>
                                                <div class="col-md-3 col-sm-6 col-12">
                                                    <div class="heading-menu">
                                                        <a href="/<%=currentLanguage %>/<%=UIHelper.GetTypeUrlByHoangLongProject(item.Type) %>/<%=item.Alias %>"><%=item.lang_name %></a>
                                                    </div>
                                                    <%var totalRow = 0; %>
                                                    <%var listNews = NewsBo.GetNewsByZoneIdAndLanguage(item.Id, lang, 1, 4, ref totalRow); %>
                                                    <ul class="sub-link pb-2">
                                                        <%foreach (var n in listNews)
                                                            { %>
                                                        <li class="item">
                                                            <a href="/<%=currentLanguage %>/<%=UIHelper.GetTypeUrlByHoangLongProject(item.Type) %>/<%=item.Alias %>/<%=n.Url %>.<%=n.Id %>.htm"><%=n.Title %></a>
                                                        </li>
                                                        <%} %>
                                                    </ul>
                                                    <%if (totalRow > 4)
                                                        { %>
                                                    <div class="view-more">
                                                        <a href="/<%=currentLanguage %>/<%=UIHelper.GetTypeUrlByHoangLongProject(item.Type) %>/<%=item.Alias %>"><%=Language.More%></a>
                                                    </div>
                                                    <%} %>
                                                </div>
                                                <%} %>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-12 col-12 ">
                                            <a href="<%=banner.Url %>">
                                                <img src="/uploads/<%=banner.Thumb %>" class="img-fluid mt-3 mt-md-0" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>--%>
                            <li class="nav-item sub sub-2">
                                <a class="nav-link" href="javascript:void(0)"><%=chuyenkhoa_parent.lang_name %></a>
                                <div class="mega-menu mega-menu-2">
                                    <%//Lay danh sach cac zone chiold %>
                                    <%foreach (var item in chuyenkhoa_child)
                                        { %>
                                    <div class="item-link sub">

                                        <a href="/<%=currentLanguage %>/<%=UIHelper.GetTypeUrlByHoangLongProject(item.Type) %>/<%=item.Alias %>"><%=item.lang_name %></a>
                                        <div class="sub-menu  mega-menu-2">
                                            <%//lay danh sach cac bai viet con %>
                                            <%var totalRow = 0; %>
                                            <%var listNews = NewsBo.GetNewsByZoneIdAndLanguage(item.Id, lang, 1, 4, ref totalRow); %>
                                            <%foreach (var n in listNews)
                                                { %>
                                            <div class="item-link">
                                                <a href="/<%=currentLanguage %>/<%=UIHelper.GetTypeUrlByHoangLongProject(item.Type) %>/<%=item.Alias %>/<%=n.Url %>.<%=n.Id %>.htm"><%=n.Title %></a>
                                            </div>
                                            <%} %>
                                        </div>
                                    </div>
                                    <%} %>
                                </div>
                            </li>
                            <li class="nav-item sub sub-2">
                                <%var news_zone = ZoneBo.GetZoneWithLanguageByType(14, lang).ToList(); %>
                                <%var news_zone_parent = news_zone.Where(r => r.ParentId == 0).SingleOrDefault(); %>
                                <%var news_zone_child = news_zone.Where(r => r.ParentId > 0); %>
                                <a class="nav-link" href="javascript:void(0)"><%=news_zone_parent.lang_name %></a>
                                <div class="mega-menu mega-menu-2">
                                    <%foreach (var item in news_zone_child)
                                        { %>
                                    <div class="item-link">
                                        <a href="/<%=currentLanguage %>/<%=UIHelper.GetTypeUrlByHoangLongProject(14) %>/<%=item.Alias %>"><%=item.lang_name %></a>
                                    </div>
                                    <%} %>
                                    <div class="item-link">
                                        <a href="/<%=currentLanguage %>/thu-vien-anh"><%=Language.Gallery%></a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item sub sub-2">
                                <%var customer_tutorial_zone = ZoneBo.GetZoneWithLanguageByType(13, lang); %>
                                <%var customer_zone_parent = customer_tutorial_zone.Where(r => r.ParentId == 0).SingleOrDefault(); %>
                                <%var customer_zone_child = customer_tutorial_zone.Where(r => r.ParentId > 0).ToList(); %>
                                <%--<a class="nav-link" href="/<%=currentLanguage %>/<%=customer_zone_parent.Alias %>"><%=customer_zone_parent.lang_name %></a>--%>
                                <a class="nav-link" href="javascript:void(0)"><%=customer_zone_parent.lang_name %></a>
                                <div class="mega-menu mega-menu-2 gioi-thieu">
                                    <%--<%foreach (var item in customer_zone_child)
                                        { %>
                                    
                                    <%} %>--%>
                                    <%for (int i = 0; i < customer_zone_child.Count(); i++)
                                        { %>
                                    <%if (i == 0)
                                        { %>
                                    <div class="item-link">
                                        <a href="/<%=currentLanguage %>/<%=customer_zone_child[i].Alias %>"><%=customer_zone_child[i].lang_name %></a>
                                    </div>
                                    <%}
                                        if (i > 0 && customer_zone_child[i].ParentId != customer_zone_child[0].Id)
                                        { %>
                                    <div class="item-link">
                                        <a href="/<%=currentLanguage %>/<%=UIHelper.GetTypeUrlByHoangLongProject(13) %>/<%=customer_zone_child[i].Alias %>"><%=customer_zone_child[i].lang_name %></a>
                                    </div>
                                    <%} %>

                                    <%} %>
                                </div>
                            </li>
                            <li class="nav-item ">
                                <%var contact_zone = ZoneBo.GetZoneWithLanguageByType(16, lang).ToList(); %>
                                <%var contact_zone_parent = contact_zone.Where(r => r.ParentId == 0).SingleOrDefault(); %>
                                <a class="nav-link" href="/<%=currentLanguage %>/<%=UIHelper.GetTypeUrlByHoangLongProject(16) %>/<%=contact_zone_parent.Alias %>"><%=contact_zone_parent.lang_name %></a>
                            </li>


                        </ul>
                    </div>
                </div>
            </nav>
        </section>
    </div>

    <asp:ContentPlaceHolder runat="server" ID="Main">
    </asp:ContentPlaceHolder>
    <div class="container">
        <footer class="footer">
            <div class="container">
                <div class="row justify-content-centermb-4">
                    <div class="col-md-4 col-sm-12 col-12">
                        <%//Lay zone type 18 %>
                        <%var zone_he_thong = ZoneBo.GetZoneWithLanguageByType(18, lang); %>
                        <%var zone_he_thong_parent = zone_he_thong.Where(r => r.ParentId == 0).SingleOrDefault(); %>
                        <%var zone_he_thong_child = zone_he_thong.Where(r => r.ParentId > 0).ToList(); %>
                        <h4 class="title-menu"><%=zone_he_thong_parent.lang_name %></h4>
                        <ul class="footer-menu  mb-md-5">
                            <%foreach (var item in zone_he_thong_child)
                                { %>
                            <li>
                                <a href="/<%=currentLanguage %>/<%=UIHelper.GetTypeUrlByHoangLongProject(18) %>/<%=item.Alias %>"><%=item.lang_name %></a>
                            </li>
                            <%} %>
                        </ul>
                        <h4 class="title-menu mb-md-4"><a href="/<%=currentLanguage %>/doi-ngu-bac-si"><%=Language.Our_Doctor%></a></h4>
                        <h4 class="title-menu mb-md-4"><a href="/<%=currentLanguage %>/dat-lich-kham"><%=Language.Register%></a></h4>
                        <h4 class="title-menu mb-md-4"><a href="/<%=currentLanguage %>/tuyen-dung"><%=Language.Recruitment%></a></h4>
                        <h4 class="title-menu mb-md-3">Theo dõi PKDK Hoàng Long</h4>
                        <div class="social mb-4">
                            <a href="<%=UIHelper.GetConfigByName("ConfigFacebook") %>" title="" target="_blank">
                                <div class="icon icon-fb"></div>
                            </a>
                            <a href="<%=UIHelper.GetConfigByName("ConfigZalo")%>" title="" target="_blank">
                                <div class="icon icon-zalo"></div>
                            </a>
                            <a href="<%=UIHelper.GetConfigByName("ConfigYoutube") %>" title="" target="_blank">
                                <div class="icon icon-yt"></div>
                            </a>
                        </div>

                    </div>
                    <div class="col-md-4 col-sm-12 col-12">
                        <h4 class="title-menu"><%=about_parent.lang_name %></h4>
                        <ul class="footer-menu ">
                            <%foreach (var item in about_child)
                                { %>
                            <li>
                                <a href="/<%=currentLanguage %>/<%=UIHelper.GetTypeUrlByHoangLongProject(item.Type) %>/<%=item.Alias %>"><%=item.lang_name %></a>
                            </li>
                            <%} %>
                            <%--<%foreach(var item in about_list_news){ %> 
                            <li><a href="/<%=currentLanguage %>/<%=UIHelper.GetTypeUrlByHoangLongProject(item.Type) %>/<%=item.Alias %>/<%=item.Url %>.<%=item.NewsId %>.htm"><%=item.Title %></a></li>
                        <%} %>--%>
                        </ul>
                        <h4 class="title-menu"><%=news_zone_parent.lang_name %></h4>
                        <ul class="footer-menu ">
                            <%foreach (var item in news_zone_child)
                                { %>
                            <li><a href="/<%=currentLanguage %>/<%=UIHelper.GetTypeUrlByHoangLongProject(14) %>/<%=item.Alias %>"><%=item.lang_name %></a></li>
                            <%} %>
                        </ul>
                        <%--<%//Get zone tra cuu %>
                        <%var zone_tra_cuu = ZoneBo.GetZoneWithLanguageByType(20, lang); %>
                        <%var zone_tra_cuu_parent = zone_tra_cuu.Where(z => z.ParentId == 0).SingleOrDefault(); %>
                        <%var zone_tra_cuu_child = zone_tra_cuu.Where(z => z.ParentId > 0).ToList(); %>
                        <h4 class="title-menu"><%=zone_tra_cuu_parent.lang_name %></h4>
                        <ul class="footer-menu ">
                            <%foreach (var item in zone_tra_cuu_child)
                                { %>
                            <li><a href="/<%=currentLanguage %>/<%=UIHelper.GetTypeUrlByHoangLongProject(14) %>/<%=item.Alias %>"><%=item.lang_name %></a></li>
                            <%} %>
                        </ul>--%>
                    </div>
                    <div class="col-md-4 col-sm-12 col-12">
                        <h4 class="title-menu"><%=service_parent.lang_name %></h4>
                        <ul class="footer-menu ">
                            <%foreach (var item in service_child)
                                { %>
                            <li><a href="/<%=currentLanguage %>/<%=UIHelper.GetTypeUrlByHoangLongProject(14) %>/<%=item.Alias %>"><%=item.lang_name %></a></li>
                            <%} %>
                        </ul>
                        <%//Get zone khach hang %>
                        <%var xxx = 0; %>
                        <%var list_bai_viet_KH = NewsBo.GetNewsDetailWithLanguage(customer_zone_parent.Type, lang, 2, customer_zone_parent.Id, string.Empty, 1, 6, ref xxx); %>
                        <h4 class="title-menu">Hướng dẫn khách hàng</h4>
                        <ul class="footer-menu">
                            <%foreach (var item in customer_zone_child.Where(r => !r.Alias.Equals("thong-tin-suc-khoe-a-z")).Where(r => r.ParentId == customer_zone_parent.Id))
                                { %>
                            <li><a href="/<%=currentLanguage %>/<%=UIHelper.GetTypeUrlByHoangLongProject(item.Type) %>/<%=item.Alias %>"><%=item.Name %></a></li>
                            <%} %>
                        </ul>
                    </div>
                </div>


            </div>
            <div class="copyright pt-4 pb-3 text-md-left">

                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-12 align-self-md-center mb-3 mb-md-0">
                            <img src="/themes/images/logo-footer.png" class="img-fluid mr-3" />© <%=DateTime.Now.Year %> Hoang Long Clinic. All rights
                        reserved.
                        </div>
                        <div class="col-md-4 col-sm-12 col-12">
                            <ul class="footer-menu mb-3 mb-md-0">
                                <li>
                                    <i class="fas fa-envelope mr-2"></i>info@hoanglongclinic.vn
                                </li>
                                <li>
                                    <i class="fas fa-map-marker-alt mr-2"></i><%=UIHelper.GetConfigByName_v1("DiaChi",lang) %>
                                </li>
                                <li>
                                    <i class="fas fa-phone-alt mr-2"></i><%=UIHelper.GetConfigByName("Hotline") %>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </footer>
    </div>

    <%var hotline = ConfigBo.GetListConfigLanguageByConfigName("HotLine", lang).Content.Split('|')[0]; %>
    <section class="social-fixed">

        <a href="tel:<%=UIHelper.GetConfigByName("SDTHotLine") %>" title="">
            <i class="fas fa-phone-volume"></i>
        </a>
        <a href="<%=UIHelper.GetConfigByName("ConfigYoutube") %>" title="" target="_blank">
            <i class="fab fa-youtube"></i>
        </a>
        <a href="<%=UIHelper.GetConfigByName("ConfigZalo")%>" title="" target="_blank">
            <div class="zalo-div" style="">
            </div>
        </a>
    </section>

    <section class="social-fixed-2 " style="bottom: 10px;">

        <a href="/<%=currentLanguage %>/dat-lich-kham" title="">
            <i class="fab fa-facebook-messenger mr-2"></i><%=Language.RegisterBanner%>
        </a>
    </section>
    <a href="javascript:void(0)" onclick="topFunction_home()" class="btn btn-scroll  " style="position: fixed; bottom: 100px; right: 30px; background: #73ABA6; color: #fff; box-shadow: 0 0 3px #666666; border-radius: 10px; text-align: center;"><i class="fas fa-chevron-circle-up"></i></a>



    <script type="text/javascript" src="/Themes/vendor/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/Themes/vendor/popper.min.js"></script>
    <script type="text/javascript" src="/Themes/vendor/bootstrap.min.js"></script>

    <script type="text/javascript" src="/Themes/vendor/swiper.min.js"></script>


    <script type="text/javascript" src="/Themes/js/app.js"></script>
    <script>
        var R = {};
    </script>
    <script src="/Libs/core.js"></script>
    <script src="/Core/InitClientConstants/Constants.ashx"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.vi').off('click').on('click', function () {
                window.location.replace('/vi');
            });
            $('.eng').off('click').on('click', function () {
                window.location.replace('/en');
            });
            $('#txt_tim_kiem').keypress(function (e) {
                if (e.which == 13) {
                    var src = $(this).val();
                    //var url = window.location.hostname;
                    var url = "/" + $(this).data("lang") + "/tim-kiem?search=" + src;
                    //alert(url);
                    window.open(url);
                }
            })
        });
    </script>
    <asp:ContentPlaceHolder ID="cphFooter" runat="server">
    </asp:ContentPlaceHolder>
    <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v5.0&appId=2323475157962564&autoLogAppEvents=1"></script>
    <%=UIHelper.GetConfigByName("ScriptFooter") %>
</body>

</html>
