﻿* { padding: 0; margin: 0; }
#fm-container-dialog { padding: 0; overflow: hidden !important; }
#fm-container { font-size: 12px; font-family: sans-serif; }
#fm-toolbar ul { border: 1px solid #eaeaea; float: left; margin: 3.5px 0 3px 10px; padding: 1px 2px; }
#fm-toolbar ul li { border: 1px solid #fff; cursor: pointer; float: left; line-height: 26px; list-style-type: none; padding: 0 8px; text-align: center; }
#fm-toolbar ul li:hover { background: #eaeaea; }
#fm-toolbar ul li.active { background: #eaeaea; }
#fm-container { }
#fm-toolbar { min-height: 40px; border-bottom: 1px solid #eaeaea; }
#fm-toolbar .tool-items { float: right; clear: both; padding-right: 6px; }
#fm-toolbar .tools { float: left; }
#fm-main { margin-top: 8px; border-top: 1px solid #eaeaea; }
#fm-sidebar .fm-header { height: 35px; line-height: 35px; background-color: #39c; overflow: hidden; font-size: 17px; color: #ecf3f9; text-align: center; }
#fm-sidebar, #fm-content { background-color: white; cursor: default; /*z-index: 0; box-shadow: 0 2px 4px rgba(0,0,0,0.04), 0 1px 4px rgba(0,0,0,0.12);*/ min-width: 220px; border-color: #dfdfdf; height: 100%; border-style: solid; border-width: 0 0 1px; }
#fm-sidebar { float: left; border-right: 1px solid #eaeaea; }
#fm-content { padding-left: 220px; }
#fm-data-wrapper { float: left; overflow: hidden; }
#fm-file-view { border-left: 1px solid #eaeaea; float: right; height: 100%; width: 250px; padding: 9px; background: #fff; }
#fm-file-view .file-thumb { text-align: center; max-height: 250px; max-width: 230px; overflow: hidden; }
#fm-file-view .header { font-weight: bold; margin-bottom: 12px; padding: 2px 0; text-align: center; text-transform: uppercase; }
#fm-file-view .details { padding-top: 16px; }
#fm-file-view .details div { line-height: 21px; }
#fm-file-view .details .uploaded, #fm-file-view .details .file-size, #fm-file-view .details .dimensions { line-height: 21px; }
#fm-file-view .file-thumb img { border: 1px solid #eaeaea; max-height: 220px; padding: 4px; max-width: 228px; }
.attachment-info .filename { font-weight: 600; color: #444; word-wrap: break-word; }
.btn-attack { background: #fff none repeat scroll 0 0; padding: 3px 3px 3px 0; width: 230px; float: right; clear: both; }
.btn-attack button#btn-attack { color: #fff; background: #0085ba; border: 0; padding: 4px 6px; }
.btn-attack button#dl-close { background: #eaeaea; border: 0; padding: 4px 6px; float: right; clear: both; }
#fm-content table._list { width: 100%; }
#fm-content table._list tr { }
#fm-content table._list tr th { text-align: center; font-weight: bold; }
#fm-content table._list tr td { padding: 5px 4px; }
#fm-content table._list tr._active { background: #48adff; }
#fm-toolbar ul li i { background-repeat: no-repeat; display: inline-block; height: 16px; vertical-align: middle; width: 16px; }
#fm-toolbar ul li i { }
#fm-toolbar ul li i.create-folder { background-image: url(../Libs/Images/folder_add.png); }
#fm-toolbar ul li i.upload { background-image: url("../Libs/Images/upload.png"); }
#fm-toolbar ul li i.list { background-image: url("../Libs/Images/application_view_list.png"); }
#fm-toolbar ul li i.grid { background-image: url("../Libs/Images/application_view_icons.png"); }
#fm-toolbar ul li i.iclose { background-image: url("../Libs/Images/reset.png"); }
#fm-toolbar ul li i.crop { background-image: url("../Libs/Images/crop.png"); }
#fm-toolbar ul li i.close:hover { }
#fm-footer { min-height: 32px; }
.blockUI.blockMsg { top: 50%; }
#fm-data-wrapper { height: 100%; }
.clear { clear: both; }
/* js tree*/
.jstree-node { font-family: tahoma; }
.jstree-node, .jstree-children, .jstree-container-ul { display: block; margin: 0; padding: 0; list-style-type: none; list-style-image: none; }
.jstree-node { white-space: nowrap; }
.jstree-anchor { display: inline-block; color: #000; white-space: nowrap; padding: 0 4px 0 1px; margin: 0; vertical-align: top; }
.jstree-anchor:focus { outline: 0; }
.jstree-anchor, .jstree-anchor:link, .jstree-anchor:visited, .jstree-anchor:hover, .jstree-anchor:active { text-decoration: none; color: inherit; }
.jstree-icon { display: inline-block; text-decoration: none; margin: 0; padding: 0; vertical-align: top; text-align: center; }
.jstree-icon:empty { display: inline-block; text-decoration: none; margin: 0; padding: 0; vertical-align: top; text-align: center; }
.jstree-ocl { cursor: pointer; }
.jstree-leaf > .jstree-ocl { cursor: default; }
.jstree .jstree-open > .jstree-children { display: block; }
.jstree .jstree-closed > .jstree-children, .jstree .jstree-leaf > .jstree-children { display: none; }
.jstree-anchor > .jstree-themeicon { margin-right: 2px; }
.jstree-no-icons .jstree-themeicon, .jstree-anchor > .jstree-themeicon-hidden { display: none; }
.jstree-hidden, .jstree-node.jstree-hidden { display: none; }
.jstree-rtl .jstree-anchor { padding: 0 1px 0 4px; }
.jstree-rtl .jstree-anchor > .jstree-themeicon { margin-left: 2px; margin-right: 0; }
.jstree-rtl .jstree-node { margin-left: 0; }
.jstree-rtl .jstree-container-ul > .jstree-node { margin-right: 0; }
.jstree-wholerow-ul { position: relative; display: inline-block; min-width: 100%; }
#fm-folder .jstree-wholerow-ul .jstree-leaf > .jstree-ocl { cursor: pointer; }
#fm-folder .jstree-wholerow-ul .jstree-anchor, .jstree-wholerow-ul .jstree-icon { position: relative; }
#fm-folder .jstree-wholerow-ul .jstree-wholerow { width: 100%; cursor: pointer; position: absolute; left: 0; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.vakata-context { display: none; }
.vakata-context, .vakata-context ul { margin: 0; padding: 2px; position: absolute; background: #f5f5f5; border: 1px solid #979797; box-shadow: 2px 2px 2px #999; z-index: 999; }
.vakata-context ul { list-style: none; left: 100%; margin-top: -2.7em; margin-left: -4px; }
.vakata-context .vakata-context-right ul { left: auto; right: 100%; margin-left: auto; margin-right: -4px; }
.vakata-context li { list-style: none; }
.vakata-context li > a { display: block; padding: 0 2em; text-decoration: none; width: auto; color: #000; white-space: nowrap; line-height: 34px; text-shadow: 1px 1px 0 #fff; border-radius: 1px; }
.vakata-context li > a:hover { position: relative; background-color: #e8eff7; box-shadow: 0 0 2px #0a6aa1; }
.vakata-context li > a.vakata-context-parent { background-image: url(data:image/gif;base64,R0lGODlhCwAHAIAAACgoKP///yH5BAEAAAEALAAAAAALAAcAAAIORI4JlrqN1oMSnmmZDQUAOw==); background-position: right center; background-repeat: no-repeat; }
.vakata-context li > a:focus { outline: 0; }
.vakata-context .vakata-context-hover > a { position: relative; background-color: #e8eff7; box-shadow: 0 0 2px #0a6aa1; }
.vakata-context .vakata-context-separator > a, .vakata-context .vakata-context-separator > a:hover { background: #fff; border: 0; border-top: 1px solid #e2e3e3; height: 1px; min-height: 1px; max-height: 1px; padding: 0; margin: 0 0 0 2.4em; border-left: 1px solid #e0e0e0; text-shadow: 0 0 0 transparent; box-shadow: 0 0 0 transparent; border-radius: 0; }
.vakata-context .vakata-contextmenu-disabled a, .vakata-context .vakata-contextmenu-disabled a:hover { color: silver; background-color: transparent; border: 0; box-shadow: 0 0 0; }
.vakata-context li > a > i { text-decoration: none; display: inline-block; width: 2.4em; height: 2.4em; background: 0 0; margin: 0 0 0 -2em; vertical-align: top; text-align: center; line-height: 2.4em; }
.vakata-context li > a > i:empty { width: 2.4em; line-height: 2.4em; }
.vakata-context li > a .vakata-contextmenu-sep { display: inline-block; width: 1px; height: 2.4em; background: #fff; margin: 0 .5em 0 0; border-left: 1px solid #e2e3e3; }
.vakata-context .vakata-contextmenu-shortcut { font-size: .8em; color: silver; opacity: .5; display: none; }
.vakata-context-rtl ul { left: auto; right: 100%; margin-left: auto; margin-right: -4px; }
.vakata-context-rtl li > a.vakata-context-parent { background-image: url(data:image/gif;base64,R0lGODlhCwAHAIAAACgoKP///yH5BAEAAAEALAAAAAALAAcAAAINjI+AC7rWHIsPtmoxLAA7); background-position: left center; background-repeat: no-repeat; }
.vakata-context-rtl .vakata-context-separator > a { margin: 0 2.4em 0 0; border-left: 0; border-right: 1px solid #e2e3e3; }
.vakata-context-rtl .vakata-context-left ul { right: auto; left: 100%; margin-left: -4px; margin-right: auto; }
.vakata-context-rtl li > a > i { margin: 0 -2em 0 0; }
.vakata-context-rtl li > a .vakata-contextmenu-sep { margin: 0 0 0 .5em; border-left-color: #fff; background: #e2e3e3; }
#jstree-marker { position: absolute; top: 0; left: 0; margin: -5px 0 0 0; padding: 0; border-right: 0; border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-left: 5px solid; width: 0; height: 0; font-size: 0; line-height: 0; }
#jstree-dnd { line-height: 16px; margin: 0; padding: 4px; }
#jstree-dnd .jstree-icon, #jstree-dnd .jstree-copy { display: inline-block; text-decoration: none; margin: 0 2px 0 0; padding: 0; width: 16px; height: 16px; }
#jstree-dnd .jstree-ok { background: green; }
#jstree-dnd .jstree-er { background: red; }
#jstree-dnd .jstree-copy { margin: 0 2px; }

#fm-folder.jstree-default .jstree-node, #fm-folder.jstree-default .jstree-icon { background-repeat: no-repeat; background-color: transparent; }
#fm-folder.jstree-default .jstree-anchor, #fm-folder.jstree-default .jstree-animated, #fm-folder.jstree-default .jstree-wholerow { transition: background-color .15s,box-shadow .15s; }
#fm-folder.jstree-default .jstree-hovered { background: #e7f4f9; border-radius: 2px; box-shadow: inset 0 0 1px #ccc; }
#fm-folder.jstree-default .jstree-context { background: #e7f4f9; border-radius: 2px; box-shadow: inset 0 0 1px #ccc; }
#fm-folder.jstree-default .jstree-clicked { background: #beebff; border-radius: 2px; box-shadow: inset 0 0 1px #999; }
#fm-folder.jstree-default .jstree-no-icons .jstree-anchor > .jstree-themeicon { display: none; }
#fm-folder.jstree-default .jstree-disabled { background: 0 0; color: #666; }
#fm-folder.jstree-default .jstree-disabled.jstree-hovered { background: 0 0; box-shadow: none; }
#fm-folder.jstree-default .jstree-disabled.jstree-clicked { background: #efefef; }
#fm-folder.jstree-default .jstree-disabled > .jstree-icon { opacity: .8; filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'jstree-grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#jstree-grayscale"); filter: gray; -webkit-filter: grayscale(100%); }
#fm-folder.jstree-default .jstree-search { font-style: italic; color: #8b0000; font-weight: 700; }
#fm-folder.jstree-default .jstree-no-checkboxes .jstree-checkbox { display: none !important; }
.jstree-default.jstree-checkbox-no-clicked .jstree-clicked { background: 0 0; box-shadow: none; }
.jstree-default.jstree-checkbox-no-clicked .jstree-clicked.jstree-hovered { background: #e7f4f9; }
.jstree-default.jstree-checkbox-no-clicked > .jstree-wholerow-ul .jstree-wholerow-clicked { background: 0 0; }
.jstree-default.jstree-checkbox-no-clicked > .jstree-wholerow-ul .jstree-wholerow-clicked.jstree-wholerow-hovered { background: #e7f4f9; }
/*.jstree-default > .jstree-striped { min-width: 100%; display: inline-block; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAkCAMAAAB/qqA+AAAABlBMVEUAAAAAAAClZ7nPAAAAAnRSTlMNAMM9s3UAAAAXSURBVHjajcEBAQAAAIKg/H/aCQZ70AUBjAATb6YPDgAAAABJRU5ErkJggg==) left top repeat; }*/
#fm-folder.jstree-default > .jstree-wholerow-ul .jstree-hovered, #fm-folder.jstree-default > .jstree-wholerow-ul .jstree-clicked { background: 0 0; box-shadow: none; border-radius: 0; }
#fm-folder.jstree-default .jstree-wholerow { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#fm-folder.jstree-default .jstree-wholerow-hovered { background: #e7f4f9; }
#fm-folder.jstree-default .jstree-wholerow-clicked { background: #beebff; background: -webkit-linear-gradient(top,#beebff 0,#a8e4ff 100%); background: linear-gradient(to bottom,#beebff 0,#a8e4ff 100%); }
#fm-folder.jstree-default .jstree-node { min-height: 24px; line-height: 24px; margin-left: 24px; min-width: 24px; }
#fm-folder.jstree-default .jstree-anchor { line-height: 24px; height: 24px; }
#fm-folder.jstree-default .jstree-icon { width: 24px; height: 24px; line-height: 24px; }
#fm-folder.jstree-default .jstree-icon:empty { width: 24px; height: 24px; line-height: 24px; }
.jstree-default.jstree-rtl .jstree-node { margin-right: 24px; }
#fm-folder.jstree-default .jstree-wholerow { height: 24px; }
#fm-folder.jstree-default .jstree-node, #fm-folder.jstree-default .jstree-icon { background-image: url(/CMS/Modules/FileManager/Libs/jsTree/src/themes/default/32px.png); }
#fm-folder.jstree-default .jstree-node { background-position: -292px -4px; background-repeat: repeat-y; }
#fm-folder.jstree-default .jstree-last { background: 0 0; }
#fm-folder.jstree-default .jstree-open > .jstree-ocl { background-position: -132px -4px; }
#fm-folder.jstree-default .jstree-closed > .jstree-ocl { background-position: -100px -4px; }
#fm-folder.jstree-default .jstree-leaf > .jstree-ocl { background-position: -68px -4px; }
#fm-folder.jstree-default .jstree-themeicon { background-position: -260px -4px; }
#fm-folder.jstree-default > .jstree-no-dots .jstree-node, #fm-folder.jstree-default > .jstree-no-dots .jstree-leaf > .jstree-ocl { background: 0 0; }
#fm-folder.jstree-default > .jstree-no-dots .jstree-open > .jstree-ocl { background-position: -36px -4px; }
#fm-folder.jstree-default > .jstree-no-dots .jstree-closed > .jstree-ocl { background-position: -4px -4px; }
#fm-folder.jstree-default .jstree-disabled { background: 0 0; }
#fm-folder.jstree-default .jstree-disabled.jstree-hovered { background: 0 0; }
#fm-folder.jstree-default .jstree-disabled.jstree-clicked { background: #efefef; }
#fm-folder.jstree-default .jstree-checkbox { background-position: -164px -4px; }
#fm-folder.jstree-default .jstree-checkbox:hover { background-position: -164px -36px; }
.jstree-default.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox, .jstree-default .jstree-checked > .jstree-checkbox { background-position: -228px -4px; }
.jstree-default.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox:hover, #fm-folder.jstree-default .jstree-checked > .jstree-checkbox:hover { background-position: -228px -36px; }
#fm-folder.jstree-default .jstree-anchor > .jstree-undetermined { background-position: -196px -4px; }
#fm-folder.jstree-default .jstree-anchor > .jstree-undetermined:hover { background-position: -196px -36px; }
#fm-folder.jstree-default .jstree-checkbox-disabled { opacity: .8; filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'jstree-grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#jstree-grayscale"); filter: gray; -webkit-filter: grayscale(100%); }
#fm-folder.jstree-default > .jstree-striped { background-size: auto 48px; }
.jstree-default.jstree-rtl .jstree-node { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAACAQMAAAB49I5GAAAABlBMVEUAAAAdHRvEkCwcAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjAAMOBgAAGAAJMwQHdQAAAABJRU5ErkJggg==); background-position: 100% 1px; background-repeat: repeat-y; }
.jstree-default.jstree-rtl .jstree-last { background: 0 0; }
.jstree-default.jstree-rtl .jstree-open > .jstree-ocl { background-position: -132px -36px; }
.jstree-default.jstree-rtl .jstree-closed > .jstree-ocl { background-position: -100px -36px; }
.jstree-default.jstree-rtl .jstree-leaf > .jstree-ocl { background-position: -68px -36px; }
.jstree-default.jstree-rtl > .jstree-no-dots .jstree-node, .jstree-default.jstree-rtl > .jstree-no-dots .jstree-leaf > .jstree-ocl { background: 0 0; }
.jstree-default.jstree-rtl > .jstree-no-dots .jstree-open > .jstree-ocl { background-position: -36px -36px; }
.jstree-default.jstree-rtl > .jstree-no-dots .jstree-closed > .jstree-ocl { background-position: -4px -36px; }
#fm-folder.jstree-default .jstree-themeicon-custom { background-color: transparent; background-image: none; background-position: 0 0; }
#fm-folder.jstree-default > .jstree-container-ul .jstree-loading > .jstree-ocl { background: url(/CMS/Modules/FileManager/Libs/jsTree/src/themes/default/throbber.gif) center center no-repeat; }
#fm-folder.jstree-default .jstree-file { background: url(/CMS/Modules/FileManager/Libs/jsTree/src/themes/default/32px.png) -100px -68px no-repeat; }
#fm-folder.jstree-default .jstree-folder { background: url(/CMS/Modules/FileManager/Libs/jsTree/src/themes/default/32px.png) -260px -4px no-repeat; }
#fm-folder.jstree-default > .jstree-container-ul > .jstree-node { margin-left: 0; margin-right: 0; }
#jstree-dnd.jstree-default { line-height: 24px; padding: 0 4px; }
#jstree-dnd.jstree-default .jstree-ok, #jstree-dnd.jstree-default .jstree-er { background-image: url(/CMS/Modules/FileManager/Libs/jsTree/src/themes/default/32px.png); background-repeat: no-repeat; background-color: transparent; }
#jstree-dnd.jstree-default i { background: 0 0; width: 24px; height: 24px; line-height: 24px; }
#jstree-dnd.jstree-default .jstree-ok { background-position: -4px -68px; }
#jstree-dnd.jstree-default .jstree-er { background-position: -36px -68px; }
#fm-folder.jstree-default .jstree-ellipsis { overflow: hidden; }
#fm-folder.jstree-default .jstree-ellipsis .jstree-anchor { width: calc(100% - 29px); text-overflow: ellipsis; overflow: hidden; }
#fm-folder.jstree-default .jstree-ellipsis.jstree-no-icons .jstree-anchor { width: calc(100% - 5px); }
.jstree-default.jstree-rtl .jstree-node { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAACAQMAAAB49I5GAAAABlBMVEUAAAAdHRvEkCwcAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjAAMOBgAAGAAJMwQHdQAAAABJRU5ErkJggg==); }
.jstree-default.jstree-rtl .jstree-last { background: 0 0; }

._list { }
#_list ._active { background: #48adff; }
#fm-content { }
#fm-content table._list table thead tr th { text-align: center; }
#fm-content table._list tr { font-size: 11px; }
#fm-content table._list tr:hover { background: #c1edff; cursor: pointer; }
#fm-content table._list tr td { }
#fm-content table._list tbody tr td.name { display: inline-flex; }
#fm-content table._list tbody tr td.name .list-icon { display: inline-block; float: left; padding-right: 20px; }
#fm-content table._list tbody tr td.name .png, #fm-content table tbody tr td.name .jpg, #fm-content table tbody tr td.name .jpeg, #fm-content table tbody tr td.name .gif,
#fm-content table._list tbody tr td.name .bmp { background: url(/CMS/Modules/FileManager/Libs/Images/filetree/picture.png) no-repeat; width: 16px; height: 16px; }
#fm-content table._list tbody tr td.name .doc, #fm-content table tbody tr td.name .docx { background: url(/CMS/Modules/FileManager/Libs/Images/filetree/doc.png) no-repeat; width: 16px; height: 16px; }
#fm-content table._list tbody tr td.name .xlsx, #fm-content table tbody tr td.name .xls { background: url(/CMS/Modules/FileManager/Libs/Images/filetree/xls.png) no-repeat; width: 16px; height: 16px; }
#fm-content table._list tbody tr td.name .zip, #fm-content table tbody tr td.name .rar { background: url(/CMS/Modules/FileManager/Libs/Images/filetree/zip.png) no-repeat; width: 16px; height: 16px; }
#fm-content table._list tbody tr td.name .txt { background: url(/CMS/Modules/FileManager/Libs/Images/filetree/txt.png) no-repeat; width: 16px; height: 16px; }
#fm-content table._list tbody tr td.name .pdf { background: url(/CMS/Modules/FileManager/Libs/Images/filetree/pdf.png) no-repeat; width: 16px; height: 16px; }
#fm-content table._list tbody tr td.name { width: 274px; display: inline-block; overflow: hidden; }
#fm-content table._list tbody tr td.name .fname { display: inline-flex; }
#fm-content table._list tbody tr td.type, #fm-content table tbody tr td.size, #fm-content table tbody tr td.dimensions, #fm-content table tbody tr td.date { overflow: hidden; width: 98px; }
#fm-content table._list tbody tr td.size { width: 70px; }
#fm-content table._list tbody tr td.dimensions { width: 80px; }
#fm-content table._list tbody tr td.date { width: 115px; }


#fm-grid { padding: 0; margin: 0; }
#fm-grid li { vertical-align: middle; display: table-cell; border: 1px solid #eaeaea; cursor: pointer; float: left; height: 100px; min-width: 114px; list-style-type: none; margin: 4px; padding: 2px; width: 10.54%; position: relative; overflow: hidden; text-align: center; }
#fm-grid li img { width: 100%; }
#fm-grid li img.thumb { width: 60%; margin: 0 auto; }
#fm-grid li i { position: absolute; z-index: 999; right: 4px; background: #fff; border-radius: 11px; color: #0085ba; padding: 1px; top: 3px; display: none; }
#fm-grid li._active i { display: block; }
#fm-grid li._active { border: 1px solid #0085ba; }
.plupload_filelist_header { height: 20px; }
.plupload_filelist_footer { padding: 6px 20px; height: 33px; }
.plupload_scroll .plupload_filelist { height: 172px !important; }
.plupload_filelist_footer { padding: 6px 20px; }
.plupload_filelist:empty, .plupload_filelist li.plupload_droptext { height: 140px; }

.plupload_filelist:empty::before, .plupload_filelist li.plupload_droptext::before { font-size: 52px; height: 75px; left: 49%; margin-left: -40px; padding-top: 43px; }
.items-action { padding-top: 20px; display: inline-block; width: 100%; }
.items-action .file-action { border: 0 none; color: #fff; padding: 4px 10px; }
.items-action .file-action { background: rosybrown; float: left; clear: both; }
/*.items-action .file-action:last-child { background: #0085ba;float: right;}*/
#fm-toolbar .iweb.ipagination a:first-child { border: 0; border-radius: 0; }
#fm-toolbar .iweb.ipagination input { border: medium none; float: left; font-family: arial; font-size: 11px; height: 30px; margin: 0; outline: medium none; padding: 0; text-align: center; vertical-align: middle; width: 84px; }
#fm-toolbar .iweb.ipagination a { border: 0; border-radius: 0; background: #fff; }
#fm-toolbar .ipagination.iweb { margin-top: 3.45px; }
#frowInTotals { display: inline-block; float: left; line-height: 39px; padding-right: 3px; vertical-align: baseline; }
label#progressall {
    display: none;
    padding: 7px 7px;
}
.Cdiv { padding-left: 12px; height: 17px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%; display: inline-block; font-weight: normal; }