 
@import url('https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=latin-ext,vietnamese');
 

body {
    font-size:1rem;
    font-weight: 400;
    color: #5C645E;
    background: #F6F8F8;
    font-family: 'Muli', sans-serif;
    position: relative;
    
}
.style1 {
    height: 60px;
    text-align:center;
}
a {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

h1, h2,h3{ }

.header{background: #fff; z-index: 100;width: 100%;}
.header  .navbar-nav .nav-link{padding: .5rem ;}
.header .navbar-brand img{max-height: 45px;}
.dropdown-menu{border-radius: 0;} 
.header .logo-color, .header.fixed .logo-color{display: block;}
.header .logo-white,.header.fixed .logo-white{display: none;}


.header.fixed{color: #5C645E;background: #fff;position: fixed;top: 0;box-shadow: 2px 2px 20px rgba(52, 95, 31, 0.1);}
.header.fixed .btn-book ,
.btn-hempspa{border-radius: 0;background: #345F1F;color: #fff;}
.btn-hempspa:hover,.header.fixed .btn-book:hover{background: #448623;color: #fff;}
.btn-hempspa-outline{color: #345F1F;border-radius: 0;background: none;transition: .3s;border: 1px solid #345F1F;}
.btn-hempspa-outline:hover,.btn-hempspa-outline.active{background: #345F1F;color: #fff;transition: .3s;}
.btn-book {border-radius: 0;text-transform: uppercase;padding: .65rem 1.5rem;}




.slide-home {
}
.slide-home .carousel-caption{bottom: auto;top:35%;margin-left: auto;margin-right: auto; }
.slide-home .carousel-caption h1{ }
.slide-home .carousel-control-prev img,.slide-home .carousel-control-next img{max-width: 30px;}
.menu-banner{color: #fff;width: 100%; }
.menu-banner .item-menu,.menu-banner .item-menu:active,.menu-banner .item-menu:focus,.menu-banner .item-menu:visited{color: #fff;text-transform: uppercase;background: rgba(51, 61, 54, .8);width: 100px;height: 100px;border-radius: 50%;
padding: 1rem .5rem;text-align: center;}
.menu-banner .item-menu .image img{max-height: 30px;}
.menu-banner .item-menu .text{margin-top: .5rem;font-size: 12px;}
.menu-banner .item-menu { border: 0; position: relative;margin-bottom: 1rem; }
.menu-banner .item-menu::before,
.menu-banner .item-menu::after {  box-sizing: inherit; content: ''; position: absolute; width: 100%; height: 100%; } 
.menu-banner  .spin::before,
.menu-banner  .spin::after { top: 0; left: 0; } 
.menu-banner  .spin::before {  border: 2px solid transparent; } 
.menu-banner  .spin:hover::before { border-top-color: #DBDBDB; border-right-color: #DBDBDB; border-bottom-color: #DBDBDB; transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.10s, border-bottom-color 0.15s linear 0.20s; } 
.menu-banner  .spin::after {  border: 0 solid transparent; } 
.menu-banner  .spin:hover::after { border-top: 2px solid #DBDBDB;  border-left-width: 2px;
    border-right-width: 2px; transform: rotate(270deg);
    transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s, -webkit-transform 0.4s linear 0s; }
.menu-banner  .circle { border-radius: 100%; box-shadow: none; } 
.menu-banner  .circle::before, .menu-banner  .circle::after { border-radius: 100%; }

.form-booking{background: #333D36;color: #fff;padding: 2rem 0;}
.form-booking input.form-control{border-radius: 0;border: 1px solid #fff;}
.form-booking input.form-control::placeholder{color: #448623;}
 
.service-home{background: #F3F8F2;}
.service-home .heading{color: #345F1F;font-size: 2rem;text-align: center;margin-bottom: 1rem;font-weight: bold;}
.item-service-home{background: #FFFFFF; box-shadow: 2px 2px 20px rgba(52, 95, 31, 0.1);margin-bottom: 1.5rem;}
.item-service-home .box-text{padding: 2rem 1rem 2rem;text-align: center;}
.item-service-home .title{color: #333D36;font-size: 24px;margin-bottom: 1rem;}
.item-service-home .image{position: relative;overflow: hidden;min-height: 250px;}
.item-service-home .image img{transition: .3s;}
.item-service-home:hover .image img{transform: scale(1.1);transition: .3s;opacity: .8;}
.item-service-home .group-btn{position: absolute;width: 100%;bottom: 0;background: #345F1F;color: #fff;height: 3.8rem;text-align: center;}
.item-service-home .group-btn .price,.item-service-home .group-btn .book-now{height: 100%;font-size: 14px;padding: 1.4rem .5rem; white-space: nowrap;}
.item-service-home .group-btn .book-now{position: relative;text-align: left;padding-left: 1.5rem;  }
.item-service-home .group-btn .book-now::after{content: "\f054";font-family: "Font Awesome 5 Pro";font-weight: bold;font-size: 10px;margin-left: 1.5rem;position: absolute;top: 1.5rem;transition: .3s;right: 1.5rem;}
.item-service-home:hover{ box-shadow: 2px 2px 5px rgba(52, 95, 31, 0.1);transition: .3s;} 

.form-contact-home{background: #fff;padding: 2rem 1.5rem;}
.form-contact-home .form-control{background: #F3F8F2;color: #5C645E;border: 1px solid #F3F8F2;border-radius: 0;min-height: 45px;}
.form-contact-home .btn-hempspa{min-height: 45px;}
.contact-home .heading{font-weight: bold;font-size: 2rem;margin-bottom: 1.5rem;}
.contact-home .list-contact li{margin-bottom: 1rem;}
.contact-home .social{text-transform: uppercase;display: flex;font-weight: 600; margin-bottom: 2rem;flex-wrap: wrap;}
.contact-home .social .item{margin-right: 2.5rem;margin-bottom: 1rem;}
.contact-home .list-contact{font-size: 13px;}

.footer{background: #333D36;color: #DBDBDB;font-size: 14px;}
.footer .title-menu{font-size: 18px;font-weight: bold; color: #fff;margin-top: .9rem;margin-bottom: 1rem;}
.footer .footer-menu li{margin-bottom: .65rem;transition: .3s;}
.footer .footer-menu li:hover{color: #fff;transition: .3s; margin-left: .65rem;} 
.footer .footer-menu{margin-bottom: 1rem;}

.btn-scroll{position: fixed;bottom: 2rem;right: 1rem;}

.btn-social-fixed{position: fixed;right: 0;top: 40%;}
.btn-social-fixed .btn{background: #345F1F;color: #fff;border-radius: 0;margin-bottom: .5rem; height: 48px;width: 48px;}

.daterangepicker{border-radius: 0;box-shadow: 2px 2px 20px rgba(52, 95, 31, 0.1);border: 0;}
.daterangepicker .drp-buttons .btn,.daterangepicker td.active, .daterangepicker td.active:hover,
.daterangepicker .drp-buttons .btn:active,.daterangepicker .drp-buttons .btn.cancelBtn,.daterangepicker td.start-date.end-date {background: #448623;border: 1px solid #448623;color: #fff;border-radius: 0;}

.heading-yoga{color: #345F1F;font-size: 1.5rem;margin-bottom: 1rem;}
.item-yoga{margin-bottom: 1rem;}
.item-yoga .image{overflow: hidden;}
.item-yoga .title{font-size: 1rem;color: #345F1F;text-transform: uppercase;font-weight: 600;margin-bottom: .3rem;}
.item-yoga .des{color:#5E514E;font-weight: bold;font-size: 1.2rem;}
.item-yoga  .image img{transition: .3s;}
.item-yoga:hover .image img{transform: scale(1.05);transition: .3s;opacity: .8;}


.intro-yoga{color: #333D36;font-size: 1rem;}
.intro-yoga  ul li::before {
  content: "\2022";  
  color: #C4C4C4;   
  display: inline-block; 
  width: 1rem;  
  margin-left:-.5rem; 
}
.intro-yoga  ul li{margin-bottom: .5rem;}
.intro-yoga .btn-hempspa{font-size: 14px;padding-top: .75rem;padding-bottom: .75rem;margin-bottom: 1.5rem;}

.item-spa{text-align: center;padding: 0 2rem;margin-bottom: 2.5rem;}
.item-spa .image img{border: 8px solid #345F1F;border-radius: 50%;margin-bottom: 1.5rem;}
.item-spa .title{color: #333D36;font-size: 1.5rem;margin-bottom: .75rem;height: 3.6rem;overflow: hidden;}
.item-spa .des{font-size: 14px; height: 2.5rem;overflow: hidden;}

.menu-spa .heading{color: #333D36;font-weight: bold;margin-bottom: 1.5rem;}

.item-menu-spa-ser{border-bottom: 1px solid #E8E8E8 ;padding: 1rem 0 .5rem;margin-bottom: 1rem;}
.item-menu-spa-ser .service-name{color: #333D36;font-size: 1.2rem;font-weight: bold;margin-bottom: .5rem;text-transform: uppercase;}
.item-menu-spa-ser .detail-price {line-height: 1;}
.item-menu-spa-ser .detail-price  .item{margin-bottom: .5rem;}
.item-menu-spa-ser .detail-price .price{color: #C03B3E;font-weight: bold;padding: 0 .5rem;white-space: nowrap;}
.menu-spa .btn-hempspa,.menu-spa .btn-hempspa-outline{min-width: 180px;}

.color-345F1F{color: #345F1F;}
.color-C03B3E{color: #C03B3E;}
.hemp-modal{}
.hemp-modal .modal-content{border-radius: 0;}
.form-control{border-radius: 0;}
.hemp-modal  .form-control{height: 45px;}
input[name="dates"],input.input-date{padding-left: 2.8rem;background: url(../images/calendar-icon.svg) no-repeat 15px/20px #fff;}
input.input-time{padding-left: 2.8rem;background: url(../images/clock-icon.svg) no-repeat 15px/20px #fff;}


.heading-about-us {
    font-size: 2rem;
    color: #345F1F;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.team{color: #333D36;}
.video-about{background: #CCD5BF;}
.video-about .color-333D36{color:#333D36;font-size: 18px;font-weight: bold;margin: 1rem 0;}
.des-about{color: #828282;}
.color-333D36{color: #333D36;}

.form-right{border: 0.5px solid #CCD5BF; box-shadow: 2px 2px 20px rgba(160, 131, 128, 0.2); padding: 1.5rem 1rem;}

.banner-page-2{background: url(../images/change/banner-spa-detail.jpg) no-repeat center;background-size: cover;min-height: 350px;color: #fff;
position: relative;}
.banner-page-2 .title{font-size: 2rem;}

.nav-fill-hemp .nav-link{border-radius: 0;color:#333D36;text-transform: uppercase;font-size: 14px; }
.nav-fill-hemp .nav-link.active{border-bottom: 4px solid #345F1F;background: none;color:#333D36;}
.tab-content-hemp{color: #333D36;}



.input-amount{display: flex;}
.input-amount .btn,.input-amount input{border: 1px solid #DBDBDB;color: #828282;height: 32px;font-size: 14px;border-radius: 5px; 
  padding: 5px 10px;background: #fff;}
.input-amount input{max-width: 45px;color: #345F1F;text-align: center;} 

.item-tour{margin-bottom: 1.5rem;}
.item-tour .image{text-align: center;}
.item-tour:hover .image img{opacity: .8;transition: .3s;}
.item-tour .tag{position: absolute;bottom: -1rem;background: #58935B;color: #fff;padding: .5rem 2rem;left: 50%;transform: translateX(-50%);
  -ms-transform: translateX(-50%);-moz-transform: translateX(-50%);-o-transform: translateX(-50%);-webkit-transform: translateX(-50%);white-space: nowrap;font-size: 12px;font-weight: 600; transition: .3s;}
.item-tour:hover .tag{bottom: 1rem;transition: .3s;}
.item-tour .title{color: #333D36;font-size: 24px;margin-bottom: 1rem;}
.time-tour{font-size: 14px;color: #25282B;padding-left: 2rem;position: relative;margin-bottom: .75rem;align-self:center;}
.time-tour::before{content: "";width: 20px;height: 20px;background: url(../images/clock-icon-tour.svg) no-repeat center;background-size: contain; position: absolute;left: 0px;}
.price-tour{color: #C03B3E;font-size: 18px;font-weight: bold;margin-bottom: 1rem;align-self:center;}
.price-tour::after{content: "VND/ Nguoi";text-transform: uppercase;color: #25282B;font-weight: normal;font-size: 14px;}

#modal-slide-imge {
  display: block;
  opacity: 0;
  visibility: hidden; 
}
#modal-slide-imge.show {
  opacity: 1;
  visibility: visible;
}
.swiper-slide .image {
  border:1px solid #828282;
}
.swiper-slide.swiper-slide-thumb-active .image {
  border:1px solid #345F1F;
}
.swiper-button-next, .swiper-button-prev {
  background: none; 
}
.swiper-button-prev{left: 0;}
.swiper-button-next{right: 0;text-align: right;}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{opacity: .8;}

.slide-product-detail-2 .swiper-slide .image{text-align: center;}
.gallery-thumbs-2 .image{cursor: pointer;}

.list-images .item-image{cursor: pointer;}

.price-room::after{content:"VND/ night";color:#5C645E ;text-transform: none;}
.condition .item{margin-bottom: .5rem;font-size: 14px;}
.condition .item::before{content: "\f054";font-family: "Font Awesome 5 Free";font-weight: bold;font-size: 12px;margin-right: .5rem;}
.color-A0A4A8{color:#A0A4A8}

.gift-service{font-size: 14px;color:#25282B ;}

.item-room{margin-bottom: 1.5rem;}

.item-product{background: #fff;box-shadow: 2px 2px 20px rgba(52, 95, 31, 0.1);margin-bottom: 1.5rem;transition: .3s;}
.item-product .title{color: #333D36;margin-bottom: .35rem;}
.item-product .des{color: #5C645E;margin-bottom: .35rem;font-size: 14px;}
.item-product  .price .old{font-size: 14px;text-decoration: line-through;color: #5C645E;align-self: center;}
.item-product .tag{position: absolute;font-size: 11px;color: #fff;text-transform: uppercase;background: #C03B3E; top: 10px;left: 10px;padding: 3px .5rem;}
.item-product .image{overflow: hidden;}
.item-product:hover{box-shadow: 2px 2px 5px rgba(52, 95, 31, 0.1);transition: .3s;}
.item-product .overlay{background: #345F1F;opacity: 0.7;position: absolute;width: 100%;height: 0;top: 0;left: 0;transition: .3s;}
.item-product:hover .overlay{height: 100%;transition: .3s;}
.item-product .group-btn{position: absolute;opacity: 0;visibility: hidden;left: 50%;transform: translateX(-50%);top: 0;transition: .3s;}
.item-product:hover .group-btn{opacity: 1;visibility: visible;top: calc(50% - 1.5rem);transition: .3s;}
.btn-product{background: #fff;width: 50px; height: 50px;border-radius: 50%;text-align: center;padding-top: 2px; border: 1px solid #fff;}
.btn-product:hover{border: 1px solid #58935B;}

.pagi-product .number-page::after{content: "/";margin: 0 5px;color: #828282;}
.pagi-product .number-page:last-child::after{content: "";}
.pagi-product .number-page:hover,.pagi-product .number-page.active{color: #000;}
.layout-option.active img{filter: invert(1);}

.product-detail{background: #fff;}
.product-detail .cate{color: #5C645E;font-size: 14px;}
.product-detail .title{font-size: 24px;color: #333D36;font-weight: bold;}
.product-detail .price{font-size: 24px;font-weight: bold;color: #C03B3E;}
.color-000{color: #000;}
.font-weight-600{font-weight: 600;}
.bg-CCD5BF{background: #CCD5BF;}

.item-blog-right .title{font-size: 16px;height: 2.5rem;overflow: hidden;font-weight: 600;color: #333D36;}
.item-blog-right .image img{width: 100%;}

.item-cmt{position: relative;padding-left: 1.5rem;margin-bottom: .75rem;}
.item-cmt::before{content: "";position: absolute;width: 16px;height: 16px;background: url(../images/Comment.svg) no-repeat center;background-size: contain;left: 0;top: 5px;}

.item-blog{position: relative;margin-bottom: 2rem}
.item-blog .box-text{width: calc(100% - 3rem);padding:2rem 1rem 1rem;background: #fff;border: 1px solid #E0E0E0;text-align: center;font-size: .85rem;margin-left: auto;margin-right: auto;margin-top: -1.5rem;position: relative;}
.item-blog .label-date{position: absolute;top: 1rem;left: 1rem;background: #fff;color: #333D36;text-align: center;padding: 3px 8px;}
.item-blog .btn-hempspa{position: absolute;top: -1rem;left: 50%;transform: translateX(-50%);font-size: .8rem;}
.item-blog .title{color: #333D36;}

.tags{display: flex;flex-wrap: wrap;}
.tags .item{color: #333D36;padding: 5px .5rem;background: #F2F2F2;white-space: nowrap;border-radius: 4px;margin-right: .5rem;
  font-size: .85rem;font-weight: 600;}

  .blog-detail{color: #333D36;}
  .blog-detail .title{font-size: 1.5rem;margin-bottom: 1rem;}

 
@media(min-width:320px){
    
}

@media(min-width:375px){
    
}

@media(min-width:576px){
   
}

@media(min-width:768px){
    .container{max-width: 100%;} 
    .slide-home .carousel-caption{width: 65%;}
    
    
    .header .navbar-brand img{max-height: 50px;}
    .header .navbar-nav .nav-link{font-size: 14px;padding: .75rem 1rem;white-space: nowrap;}
   .slide-home .carousel-control-prev img,.slide-home .carousel-control-next img{max-width: 40px;}
   .intro-yoga{font-size: 12px;}
   .intro-yoga .btn-hempspa{margin-bottom: 0;}
   .gift-service,.condition .item{font-size: 10px;}
}

@media(min-width:992px){
  .header{background: none;position: fixed;color: #fff;}
  .header.fixed{color: #5C645E;background: #fff;}
  .header .logo-white, .header.fixed .logo-color{display: block;}
  .header .logo-color,.header.fixed .logo-white{display: none;}
  .header .navbar-brand img{max-height: 60px;}
  .item-service-home .group-btn .book-now{padding-left: 1rem;}
  .item-service-home .group-btn .book-now::after{margin-left: 1rem;}
  .item-service-home .box-text{font-size: 15px;}
  .contact-home .list-contact{font-size: 1rem;}
  .slide-home .carousel-caption{width: 65%;}
  .menu-banner{position: absolute;bottom: 0rem;}
  .menu-banner .item-menu,.menu-banner .item-menu:active,.menu-banner .item-menu:focus,.menu-banner .item-menu:visited{width: 120px;height: 120px;}
  .menu-banner .item-menu .image img{max-height: 40px;}
  .menu-banner .item-menu .text{ font-size: 14px;}
  .heading-yoga{font-size: 2rem;margin-bottom: 2.5rem;}
  .intro-yoga{font-size: 12px;}
  .hemp-modal  .form-control{height: 48px;}
  .nav-fill-hemp .nav-link{padding: .75rem 2.5rem;font-size: 1rem;}
  .gift-service,.condition .item{font-size: 12px;}
  
}

@media(min-width:1200px){
    .container{max-width: 1100px;}
    .header .container{max-width: 1150px;}
    .form-contact-home .form-control,.form-contact-home .btn-hempspa{ min-height: 48px;} 
    .item-service-home .group-btn .book-now:hover::after{ transition: .3s;right: 1rem;}
    .item-service-home .group-btn .book-now{padding-left: 1.5rem;}
    .item-service-home .box-text{padding-top: 3rem;font-size: 1rem;}
    .item-service-home{margin-bottom: 2rem;}
    .slide-home .carousel-control-prev img,.slide-home .carousel-control-next img{max-width: 60px;}
    .item-spa:hover .image img{opacity: .8;transition: .3s;transform: scale(.98);}
    .item-spa  .image img{transition: .3s;}
    .heading-about-us{font-size: 3rem;}
}

@media(min-width:1366px){
  .header .container{max-width: 1250px;}
  .contact-home .heading,.service-home .heading{font-size: 3rem;}
  .slide-home .carousel-caption{width: 50%;}
  .header .navbar-brand img{max-height: 70px;}
  .header .navbar-nav .nav-link{font-size: 1rem;padding: .5rem 1.5rem;}
  .slide-home .carousel-control-prev img,.slide-home .carousel-control-next img{max-width: 80px;}
  .menu-banner .item-menu,.menu-banner .item-menu:active,.menu-banner .item-menu:focus,.menu-banner .item-menu:visited{width: 140px;height: 140px;}
  .menu-banner{ bottom: 100px;}
  .menu-banner .item-menu .image img{max-height: none;}
  .menu-banner .item-menu .text{ font-size: 1rem;}
  .slide-home .carousel-caption h1,.banner-page .title{font-size: 4rem;font-weight: bold;}
  .banner-page{min-height: 350px;}
  .banner-page .title{ margin-top: 2rem;}
  .intro-yoga .btn-hempspa{font-size: 14px;padding-top: .75rem;padding-bottom: .75rem;}
  .intro-yoga{font-size: 1rem;}
  .gift-service,.condition .item{font-size: 14px;}
  
}

@media(min-width:1440px){
    .container{max-width: 1300px;}
    
    
}
@media(min-width:1600px){
  .container{max-width: 1300px;}
  .header .container{max-width: 1500px;}
  
    
}





  @media (min-width: 768px) and (max-width: 1200px){
    
   
  }

 
