﻿body { font-size: 13px; font-family: Tahoma; }
.ui-widget-header { border: 0; background: #fff !important; }
.ui-dialog { padding: 0 !important; }
/*.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active { border: 0; background: #fff; }*/
.plupload_button { padding: 2px 2px; }
.plupload_content { font-size: 0.8em; }
.content-wrapper { padding-top: 45px; }
.date-filter { margin: 3px 0; padding: 4px 8px; }
.navbar-xs .navbar-nav > li .pager-input { line-height: 24px; margin: 5px 0; width: 36px !important; margin-right: 10px; }
.navbar-xs .navbar-nav > li > a.pager-next, .navbar-xs .navbar-nav > li > a.pager-back { border: 1px solid #a9a9a9; padding: 5px; margin: 4px 0; }
.navbar-xs .navbar-nav > li > a.pager-back { margin-right: 5px; }
.IMSPagerStats { padding: 10px 0; margin-right: 10px; }


.modal.left .modal-dialog,
.modal.right .modal-dialog { position: fixed; margin: auto; width: 100%; height: 100%; -webkit-transform: translate3d(0%, 0, 0); -ms-transform: translate3d(0%, 0, 0); -o-transform: translate3d(0%, 0, 0); transform: translate3d(0%, 0, 0); }

.modal.left .modal-content,
.modal.right .modal-content { height: 100%; overflow-y: auto; }

.modal.left .modal-body,
.modal.right .modal-body { /*padding: 15px 15px 80px;*/ }

/*Left*/
.modal.left.fade .modal-dialog { left: -320px; -webkit-transition: opacity 0.3s linear, left 0.3s ease-out; -moz-transition: opacity 0.3s linear, left 0.3s ease-out; -o-transition: opacity 0.3s linear, left 0.3s ease-out; transition: opacity 0.3s linear, left 0.3s ease-out; }

.modal.left.fade.in .modal-dialog { left: 0; }

/*Right*/
.modal.right.fade .modal-dialog { right: -320px; -webkit-transition: opacity 0.3s linear, right 0.3s ease-out; -moz-transition: opacity 0.3s linear, right 0.3s ease-out; -o-transition: opacity 0.3s linear, right 0.3s ease-out; transition: opacity 0.3s linear, right 0.3s ease-out; }

.modal.right.fade.in .modal-dialog { right: 0; }

/* ----- MODAL STYLE ----- */
.modal-content { border-radius: 0; border: none; }

.modal-header { border-bottom-color: #EEEEEE; background-color: #FAFAFA; }

._search-data.form-control, #news-form .form-control, #zone-edit input[type=text].form-control { height: 29.5px; padding: 4.5px 12px; }
#news-form textarea { min-height: 100px; }
.btn-xs._search { margin-top: 0; }
.ui-overlay { height: 100%; left: 0; position: fixed; background: #333; opacity: .3; top: 0; width: 100%; z-index: 99; }
.block-tab { color: #f1f1f1 !important; }
.block-tab a { cursor: not-allowed !important; }
.range_inputs button { padding: 1px 8px; }
.daterangepicker.single.ranges { float: none !important; }
#data-list { position: relative; }
/*loading*/
#fountainTextG { position: absolute; right: 40%; top: 50%; width: 198px; }
.fountainTextG { color: rgb(0,0,0); font-family: Arial; font-size: 21px; text-decoration: none; font-weight: normal; font-style: normal; float: left; animation-name: bounce_fountainTextG; -o-animation-name: bounce_fountainTextG; -ms-animation-name: bounce_fountainTextG; -webkit-animation-name: bounce_fountainTextG; -moz-animation-name: bounce_fountainTextG; animation-duration: 1.361s; -o-animation-duration: 1.361s; -ms-animation-duration: 1.361s; -webkit-animation-duration: 1.361s; -moz-animation-duration: 1.361s; animation-iteration-count: infinite; -o-animation-iteration-count: infinite; -ms-animation-iteration-count: infinite; -webkit-animation-iteration-count: infinite; -moz-animation-iteration-count: infinite; animation-direction: normal; -o-animation-direction: normal; -ms-animation-direction: normal; -webkit-animation-direction: normal; -moz-animation-direction: normal; transform: scale(.5); -o-transform: scale(.5); -ms-transform: scale(.5); -webkit-transform: scale(.5); -moz-transform: scale(.5); }
#fountainTextG_1 { animation-delay: 0.4825s; -o-animation-delay: 0.4825s; -ms-animation-delay: 0.4825s; -webkit-animation-delay: 0.4825s; -moz-animation-delay: 0.4825s; }
#fountainTextG_2 { animation-delay: 0.589s; -o-animation-delay: 0.589s; -ms-animation-delay: 0.589s; -webkit-animation-delay: 0.589s; -moz-animation-delay: 0.589s; }
#fountainTextG_3 { animation-delay: 0.6855s; -o-animation-delay: 0.6855s; -ms-animation-delay: 0.6855s; -webkit-animation-delay: 0.6855s; -moz-animation-delay: 0.6855s; }
#fountainTextG_4 { animation-delay: 0.782s; -o-animation-delay: 0.782s; -ms-animation-delay: 0.782s; -webkit-animation-delay: 0.782s; -moz-animation-delay: 0.782s; }
#fountainTextG_5 { animation-delay: 0.8785s; -o-animation-delay: 0.8785s; -ms-animation-delay: 0.8785s; -webkit-animation-delay: 0.8785s; -moz-animation-delay: 0.8785s; }
#fountainTextG_6 { animation-delay: 0.975s; -o-animation-delay: 0.975s; -ms-animation-delay: 0.975s; -webkit-animation-delay: 0.975s; -moz-animation-delay: 0.975s; }
#fountainTextG_7 { animation-delay: 1.0715s; -o-animation-delay: 1.0715s; -ms-animation-delay: 1.0715s; -webkit-animation-delay: 1.0715s; -moz-animation-delay: 1.0715s; }
#fountainTextG_8 { animation-delay: 1.168s; -o-animation-delay: 1.168s; -ms-animation-delay: 1.168s; -webkit-animation-delay: 1.168s; -moz-animation-delay: 1.168s; }
#fountainTextG_9 { animation-delay: 1.2645s; -o-animation-delay: 1.2645s; -ms-animation-delay: 1.2645s; -webkit-animation-delay: 1.2645s; -moz-animation-delay: 1.2645s; }
#fountainTextG_10 { animation-delay: 1.361s; -o-animation-delay: 1.361s; -ms-animation-delay: 1.361s; -webkit-animation-delay: 1.361s; -moz-animation-delay: 1.361s; }
#fountainTextG_11 { animation-delay: 1.4575s; -o-animation-delay: 1.4575s; -ms-animation-delay: 1.4575s; -webkit-animation-delay: 1.4575s; -moz-animation-delay: 1.4575s; }
#fountainTextG_12 { animation-delay: 1.564s; -o-animation-delay: 1.564s; -ms-animation-delay: 1.564s; -webkit-animation-delay: 1.564s; -moz-animation-delay: 1.564s; }
#fountainTextG_13 { animation-delay: 1.6605s; -o-animation-delay: 1.6605s; -ms-animation-delay: 1.6605s; -webkit-animation-delay: 1.6605s; -moz-animation-delay: 1.6605s; }
#fountainTextG_14 { animation-delay: 1.757s; -o-animation-delay: 1.757s; -ms-animation-delay: 1.757s; -webkit-animation-delay: 1.757s; -moz-animation-delay: 1.757s; }
#fountainTextG_15 { animation-delay: 1.8535s; -o-animation-delay: 1.8535s; -ms-animation-delay: 1.8535s; -webkit-animation-delay: 1.8535s; -moz-animation-delay: 1.8535s; }
#fountainTextG_16 { animation-delay: 1.95s; -o-animation-delay: 1.95s; -ms-animation-delay: 1.95s; -webkit-animation-delay: 1.95s; -moz-animation-delay: 1.95s; }

@keyframes bounce_fountainTextG {
    0% { transform: scale(1); color: rgba(0,0,0,0.79); }

    100% { transform: scale(.5); color: rgb(255,255,255); }
}

@-o-keyframes bounce_fountainTextG {
    0% { -o-transform: scale(1); color: rgba(0,0,0,0.79); }

    100% { -o-transform: scale(.5); color: rgb(255,255,255); }
}

@-ms-keyframes bounce_fountainTextG {
    0% { -ms-transform: scale(1); color: rgba(0,0,0,0.79); }

    100% { -ms-transform: scale(.5); color: rgb(255,255,255); }
}

@-webkit-keyframes bounce_fountainTextG {
    0% { -webkit-transform: scale(1); color: rgba(0,0,0,0.79); }

    100% { -webkit-transform: scale(.5); color: rgb(255,255,255); }
}

@-moz-keyframes bounce_fountainTextG {
    0% { -moz-transform: scale(1); color: rgba(0,0,0,0.79); }

    100% { -moz-transform: scale(.5); color: rgb(255,255,255); }
}

@media (min-width:1200px) {
    #detailCkeditor { }
}

#IMSOverlayWrapper { display: none; }
#IMSOverlayWrapperIn { position: relative; }
#IMSOverlayContent { float: right; display: inline-block; background: #fff; min-width: 0; }
#IMSOverlayClose { background: #a9a9a9 url("/CMS/Themes/images/close-delete.png") no-repeat scroll center 8px; cursor: pointer; display: inline-block; float: right; height: 31px; margin-top: 15px; width: 31px; }
#IMSOverlayClose:hover { opacity: 1; }
#IMSOverlayContent { background: none repeat scroll 0 0 #FFFFFF; box-shadow: -10px -5px 11px -8px #999999; min-height: 500px; width: auto; z-index: 1000; }
/*OverlayFull*/

#IMSFullOverlayWrapper { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: #fff; z-index: 100; -webkit-transform: translateX(200%); -moz-transform: translateX(200%); -ms-transform: translateX(200%); transform: translateX(200%); opacity: 1; }
#IMSFullOverlayWrapper.fadeIn { -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); opacity: 1; -webkit-transition: all 0.8s 0.1s; -moz-transition: all 0.8s 0.1s; transition: all 0.8s 0.1s; }
#IMSFullOverlayMainContent { background: none repeat scroll 0 0 #fff; height: 100%; margin: 0 auto; padding: 6px 0; overflow: auto; }
#IMSFullOverlayInner { position: relative; }
#IMSFullOverlayClose { }
#IMSFullOverlayTitle { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; background: none repeat scroll 0 0 #333; border-color: #000 #000 -moz-use-text-color; border-image: none; border-style: solid solid none; border-width: 1px 1px 0; color: #fff; font-size: 15px; font-weight: normal; height: 30px; line-height: 30px; margin: 0 auto; text-indent: 10px; text-transform: uppercase; overflow: hidden; border: solid 1px #000; }
#IMSOverlayWrapper.OverlayEditable { pointer-events: none; }
#IMSOverlayWrapper.OverlayEditable #IMSOverlayWrapperIn { pointer-events: all; }




._icon { cursor: pointer; }
.w50 { width: 50px; }
.w60 { width: 60px; }
.w70 { width: 70px; }
.w80 { width: 80px; }
.w90 { width: 90px; }
.w100 { width: 100px; }
.tooltip-inner { padding: 4px 12px; font-size: 11px; }
.ibtn-xs { font-size: 11px; line-height: 1.66667; padding: 4.5px 7px; }
.form-control { background-color: #fff; background-image: none; border: 1px solid #ddd; border-radius: 3px; color: #333; display: block; font-size: 13px; height: 30px; line-height: 1.53846; padding: 4px 12px; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; width: 100%; }
/*Upload */
.upload-wrapper { width: 650px; margin: 0 auto; }
.upload-content { width: 100%; }
.modal-main { text-align: center; position: relative; }
.modal-main .modal-options { padding: 4px 0 9px 0; color: #3b4045; }
.modal-main .modal-options p { margin-bottom: 0; }
.modal-main .modal-options .ajax-loader { margin-left: 10px; }
.modal-main .modal-input-url, .modal-main .modal-options-separator { margin: 0 6px; }
.modal-main .modal-dropzone-default, .modal-main .modal-dropzone-preview { border: 2px dashed #dee3e7; height: 246px; border-radius: 3px; padding: 15px; width: 100%; position: relative; }
.modal-main .modal-dropzone-default { background: #f0f2f4; cursor: pointer; transition: background 300ms ease,border 300ms ease; }
.modal-main .modal-dropzone-default:hover, .modal-main .modal-dropzone-default.hover { background: #e7eaee; border-color: #c0cad2; }
.modal-main .modal-dropzone-default:hover .modal-dropzone-img:before, .modal-main .modal-dropzone-default.hover .modal-dropzone-img:before { top: -50px; }
.modal-main .modal-dropzone-default:hover .modal-dropzone-img:after, .modal-main .modal-dropzone-default.hover .modal-dropzone-img:after { top: -76px; }
.modal-main .modal-dropzone-default > * { pointer-events: none; }
.modal-main .modal-dropzone-default .modal-dropzone-img { background-image: url(/CMS/Themes/Images/svg/img-upload.svg?v=1); background-image: url(/CMS/Themes/Images/svg/img-upload.svg?v=1),none; background-position: 0 0; width: 86px; height: 78px; position: absolute; top: 88px; left: 50%; margin-left: -43px; }
.modal-main .modal-dropzone-default .modal-dropzone-img:before, .modal-main .modal-dropzone-default .modal-dropzone-img:after { position: absolute; background-image: url(/Themes/Images/svg/img-upload.svg?v=1); background-image: url(/CMS/Themes/Images/svg/img-upload.svg?v=1),none; display: block; content: ''; transition: all .15s ease; }
.modal-main .modal-dropzone-default .modal-dropzone-img:before { background-position: -120px -21px; width: 156px; height: 65px; top: -44px; left: -33px; }
.modal-main .modal-dropzone-default .modal-dropzone-img:after { background-position: -130px -90px; width: 53px; height: 61px; top: -66px; left: 18px; }
.modal-main .modal-dropzone-default p { margin-top: 166px; margin-bottom: 0; color: #8495a4; font-size: 12px; font-family: GilroyRegular; }
.modal-main .modal-dropzone-default p b { font-size: 18px; color: #677683; font-weight: 700; display: block; margin-bottom: 10px; }
.modal-options-url { padding-bottom: 8px; }
.modal-main .modal-input-file { display: none; }
.modal-main .modal-input-url { width: 250px; padding: 6px 2px; border: 1px solid #c0cad2; }
.modal-main .modal-options-error-message { color: red; font-weight: bold; }
.modal-main .modal-footer p { padding-top: 12px; }
.modal-main .modal-footer .icon-imgur-white { margin-right: 8px; margin-left: 2px; }
.modal-main .modal-footer { background: #3f4a59; padding: 10px 8px; }
.modal-main .modal-footer .modal-cta { padding: 4px; text-align: left; }
.modal-main .modal-footer .modal-cta button { float: right; clear: both; }
.modal-main .modal-footer .modal-cta span { color: #ff4a4a; }
.modal-main .progress-bar { background-color: #fff; box-shadow: none; color: #fff; float: left; font-size: 12px; height: 100%; line-height: 3px; text-align: center; transition: width 0.6s ease 0s; width: 0; }
.modal-main .progress-bar-success { background-color: #428bca; }
.progress { box-shadow: none; }
#progress { background-color: #fff; border-radius: 4px; height: 6px; margin-bottom: 7px; overflow: hidden; }
#fileupload { display: none; }
#files .temp-upload { display: inline-block; position: relative; }
#files .temp-upload i.fa-trash-o { display: inline-block; position: absolute; right: 10px; top: 2px; cursor: pointer; color: #000; background: #fff; width: 20px; height: 20px; border-radius: 10px; vertical-align: middle; padding: 3px; }
.files { display: none; }
#files { background: #f0f2f4 none repeat scroll 0 0; height: 244px; overflow: hidden; padding: 14px; position: absolute; top: 1px; width: 649px; z-index: 111; }
#files .temp-upload img { height: 215px; max-width: 300px; }
.sidebar.sidebar-main { position: fixed; top: 0; height: 2000px }
.content-wrapper { padding-left: 200px; }
.nav-tabs-vertical { display: table; width: 100%; }
.nav-tabs-vertical > .nav-tabs { display: table-cell; border-bottom: 0; width: 135px; }
.nav-tabs-vertical > .nav-tabs > li { display: block; margin-bottom: 0; }
.nav-tabs-vertical > .nav-tabs-solid > li:last-child > a:after { border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; }
.nav-tabs-vertical > .nav-tabs[class*=bg-] > li:first-child > a { border-top-right-radius: 3px; border-top-left-radius: 3px; }
.nav-tabs-vertical > .nav-tabs[class*=bg-] > li:last-child > a { border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; }
.nav-tabs-vertical > .tab-content { display: table-cell; }
.nav-tabs-vertical > .tab-content > .has-padding { padding: 0; padding-top: 10.5px; }
.nav-tabs-vertical.tab-content-bordered > .tab-content { border-top-width: 1px; }
.nav-tabs-left > .nav-tabs { border-right: 1px solid #ddd; }
.nav-tabs-left > .nav-tabs > li { margin-right: -1px; }
.nav-tabs-left > .nav-tabs > li.active > a,
.nav-tabs-left > .nav-tabs > li.active > a:hover,
.nav-tabs-left > .nav-tabs > li.active > a:focus { border-bottom-color: #ddd; border-right-color: transparent; }
.nav-tabs-left > .nav-tabs.nav-tabs-component > li > a { border-radius: 3px 0 0 3px; }
.nav-tabs-left > .nav-tabs-highlight > li > a,
.nav-tabs-left > .nav-tabs-highlight > li > a:hover,
.nav-tabs-left > .nav-tabs-highlight > li > a:focus { border-top-width: 1px; border-left-width: 2px; }
.nav-tabs-left > .nav-tabs-highlight > li.active > a,
.nav-tabs-left > .nav-tabs-highlight > li.active > a:hover,
.nav-tabs-left > .nav-tabs-highlight > li.active > a:focus { border-top-color: #ddd; border-left-color: #EC407A; }
.nav-tabs-left > .nav-tabs-top,
.nav-tabs-left > .nav-tabs-bottom { padding-right: 20px; }
.nav-tabs-left > .top-divided,
.nav-tabs-left > .bottom-divided { padding-right: 0; border-right-width: 0; }
.nav-tabs-left > .nav-tabs-solid,
.nav-tabs-left > .nav-tabs[class*=bg-] { border-right: 0; border-radius: 3px; }
.nav-tabs-left > .nav-tabs-solid > li,
.nav-tabs-left > .nav-tabs[class*=bg-] > li { margin-right: 0; }
.nav-tabs-left > .tab-content { padding-left: 20px; }
.nav-tabs-left.tab-content-bordered > .tab-content { border-left-width: 0; }
.blockUI.blockOverlay{z-index: 99999 !important}