﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Banner.ascx.cs" Inherits="Mi_Company.Pages.Controls.Banner" %>
<%@ Import Namespace="Mi.BO.Base.News" %>
<%@ Import Namespace="Mi.BO.Base.Zone" %>
<%@ Import Namespace="Mi_Company.Core.Helper" %>
<%@ Import Namespace="System.Web.Script.Serialization" %>
<%@ Import Namespace="Resources" %>
<%@ Import Namespace="Mi.Entity.Base.News" %>
<section class="slide banner-vmb mb-4">
  
</section>
