﻿.FTagfieldDiv { min-height: 30px; border: solid 1px #ddd; background-color: #FFFFFF; display: inline-block; width: 100%; }
.FTagfieldClearer { clear: both; }
.FTagfieldDiv ul { margin: 0; padding: 0; width: 100%; }
.FTagfield { outline: none; width: 100%; height: 28px; border: solid 1px; background-color: #FFFFFF; }
.FTagInput { background-color: transparent; border: medium none; margin: 0; outline: medium none; padding: 2px 0 0; }
.FTagInputItem { padding: 0px; margin: 0px; }
.FTagItems > li { font-size: 11px; font-family: Verdana, Arial, Georgia, Helvetica, sans-serif; list-style: none; float: left; padding: 2px; margin: 2px; position: relative; }
.FTagItems .FTagItem { background-color: #006DCC; color: #2A2F66; cursor: move; width: auto; background-color: #3875D7; color: #FFFFFF; }
.FTagItems .FTagItem a { border-left: 1px dotted #7AA9E3; color: #ccc; cursor: pointer; float: right; font-style: normal; margin-left: 5px; padding-left: 2px; line-height: 18px; }
.FTagItems .FTagItem a:hover { color: #FFFFFF; }
.FTagItems .FTagItem span { float: left; font-size: 12px; line-height: 18px; color: #fff; font-weight: normal; }
.FTagItems .FTagItem a.hover { color: #FFFFFF; }
.FSuggestItems { min-width: 200px; position: absolute; left: 0; top: 27px; z-index: 100; }
.FSuggestItems .FSuggestItem { font-size: 11px; font-family: Verdana, Arial, Georgia, Helvetica, sans-serif; padding: 3px; padding-left: 5px; padding-right: 5px; background-color: #ebebeb; border: solid 1px #ebebeb; list-style: none; float: none; color: #000000; }
.FSuggestItems .FSuggestItem:hover { cursor: pointer; border: solid 1px #181B38; }
.FSuggestItem.selected { color: #fff; background-color: #7aa9e3; border: solid 1px #7aa9e3; background-color: #3875D7; background-image: linear-gradient(#3875D7 20%, #2A62BC 90%); }
.FTagValue, .FTagUrl, .TagEditText { display: none; }
.TagEditText { border: none; padding: 0 2px; }
li.FTagFieldSortPlaceHolder { border: dashed 1px orange; display: inline-block; height: 16px; width: 50px; }
li.FTagInputItem { width: auto; }
